tests/wsdl.xml

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:soap_enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="InteropService.InteropService" xmlns:s2="__main__" xmlns:s1="soaplib.serializers.enum" xmlns:s0="soaplib.serializers.base" xmlns:soap_env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/1999/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="InteropService.InteropService" name="InteropService">
  <plink:partnerLinkType name="InteropService">
    <plink:role name="InteropService">
      <plink:portType name="tns:InteropService" />
    </plink:role>
  </plink:partnerLinkType>
  <wsdl:binding name="InteropService" type="tns:InteropService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doSomethingElse">
      <soap:operation soapAction="http://sample.org/webservices/doSomething" style="document" />
      <wsdl:input name="doSomethingElse">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="doSomethingElseResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoAttachment">
      <soap:operation soapAction="echoAttachment" style="document" />
      <wsdl:input name="echoAttachment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoAttachmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoAttachmentArray">
      <soap:operation soapAction="echoAttachmentArray" style="document" />
      <wsdl:input name="echoAttachmentArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoAttachmentArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoBoolean">
      <soap:operation soapAction="echoBoolean" style="document" />
      <wsdl:input name="echoBoolean">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoBooleanResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoBooleanArray">
      <soap:operation soapAction="echoBooleanArray" style="document" />
      <wsdl:input name="echoBooleanArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoBooleanArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoDateTime">
      <soap:operation soapAction="echoDateTime" style="document" />
      <wsdl:input name="echoDateTime">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoDateTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoDateTimeArray">
      <soap:operation soapAction="echoDateTimeArray" style="document" />
      <wsdl:input name="echoDateTimeArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoDateTimeArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoEnum">
      <soap:operation soapAction="echoEnum" style="document" />
      <wsdl:input name="echoEnum">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoEnumResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoFloat">
      <soap:operation soapAction="echoFloat" style="document" />
      <wsdl:input name="echoFloat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoFloatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoFloatArray">
      <soap:operation soapAction="echoFloatArray" style="document" />
      <wsdl:input name="echoFloatArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoFloatArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoInteger">
      <soap:operation soapAction="echoInteger" style="document" />
      <wsdl:input name="echoInteger">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoIntegerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoIntegerArray">
      <soap:operation soapAction="echoIntegerArray" style="document" />
      <wsdl:input name="echoIntegerArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoIntegerArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNestedClass">
      <soap:operation soapAction="echoNestedClass" style="document" />
      <wsdl:input name="echoNestedClass">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoNestedClassResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNestedClassArray">
      <soap:operation soapAction="echoNestedClassArray" style="document" />
      <wsdl:input name="echoNestedClassArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoNestedClassArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSimpleClass">
      <soap:operation soapAction="echoSimpleClass" style="document" />
      <wsdl:input name="echoSimpleClass">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoSimpleClassResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSimpleClassArray">
      <soap:operation soapAction="echoSimpleClassArray" style="document" />
      <wsdl:input name="echoSimpleClassArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoSimpleClassArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <soap:operation soapAction="echoString" style="document" />
      <wsdl:input name="echoString">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoStringResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStringArray">
      <soap:operation soapAction="echoStringArray" style="document" />
      <wsdl:input name="echoStringArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoStringArrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiParam">
      <soap:operation soapAction="multiParam" style="document" />
      <wsdl:input name="multiParam">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multiParamResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnOnly">
      <soap:operation soapAction="returnOnly" style="document" />
      <wsdl:input name="returnOnly">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="returnOnlyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testEmpty">
      <soap:operation soapAction="testEmpty" style="document" />
      <wsdl:input name="testEmpty">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testEmptyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="doSomethingElse">
    <wsdl:part name="doSomethingElse" element="doSomethingElse" />
  </wsdl:message>
  <wsdl:message name="doSomethingElseResponse">
    <wsdl:part name="doSomethingElseResponse" element="tns:doSomethingElseResponse" />
  </wsdl:message>
  <wsdl:message name="echoAttachment">
    <wsdl:part name="echoAttachment" element="echoAttachment" />
  </wsdl:message>
  <wsdl:message name="echoAttachmentResponse">
    <wsdl:part name="echoAttachmentResponse" element="tns:echoAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="echoAttachmentArray">
    <wsdl:part name="echoAttachmentArray" element="echoAttachmentArray" />
  </wsdl:message>
  <wsdl:message name="echoAttachmentArrayResponse">
    <wsdl:part name="echoAttachmentArrayResponse" element="tns:echoAttachmentArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoBoolean">
    <wsdl:part name="echoBoolean" element="echoBoolean" />
  </wsdl:message>
  <wsdl:message name="echoBooleanResponse">
    <wsdl:part name="echoBooleanResponse" element="tns:echoBooleanResponse" />
  </wsdl:message>
  <wsdl:message name="echoBooleanArray">
    <wsdl:part name="echoBooleanArray" element="echoBooleanArray" />
  </wsdl:message>
  <wsdl:message name="echoBooleanArrayResponse">
    <wsdl:part name="echoBooleanArrayResponse" element="tns:echoBooleanArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoDateTime">
    <wsdl:part name="echoDateTime" element="echoDateTime" />
  </wsdl:message>
  <wsdl:message name="echoDateTimeResponse">
    <wsdl:part name="echoDateTimeResponse" element="tns:echoDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="echoDateTimeArray">
    <wsdl:part name="echoDateTimeArray" element="echoDateTimeArray" />
  </wsdl:message>
  <wsdl:message name="echoDateTimeArrayResponse">
    <wsdl:part name="echoDateTimeArrayResponse" element="tns:echoDateTimeArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoEnum">
    <wsdl:part name="echoEnum" element="echoEnum" />
  </wsdl:message>
  <wsdl:message name="echoEnumResponse">
    <wsdl:part name="echoEnumResponse" element="tns:echoEnumResponse" />
  </wsdl:message>
  <wsdl:message name="echoFloat">
    <wsdl:part name="echoFloat" element="echoFloat" />
  </wsdl:message>
  <wsdl:message name="echoFloatResponse">
    <wsdl:part name="echoFloatResponse" element="tns:echoFloatResponse" />
  </wsdl:message>
  <wsdl:message name="echoFloatArray">
    <wsdl:part name="echoFloatArray" element="echoFloatArray" />
  </wsdl:message>
  <wsdl:message name="echoFloatArrayResponse">
    <wsdl:part name="echoFloatArrayResponse" element="tns:echoFloatArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoInteger">
    <wsdl:part name="echoInteger" element="echoInteger" />
  </wsdl:message>
  <wsdl:message name="echoIntegerResponse">
    <wsdl:part name="echoIntegerResponse" element="tns:echoIntegerResponse" />
  </wsdl:message>
  <wsdl:message name="echoIntegerArray">
    <wsdl:part name="echoIntegerArray" element="echoIntegerArray" />
  </wsdl:message>
  <wsdl:message name="echoIntegerArrayResponse">
    <wsdl:part name="echoIntegerArrayResponse" element="tns:echoIntegerArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoNestedClass">
    <wsdl:part name="echoNestedClass" element="echoNestedClass" />
  </wsdl:message>
  <wsdl:message name="echoNestedClassResponse">
    <wsdl:part name="echoNestedClassResponse" element="tns:echoNestedClassResponse" />
  </wsdl:message>
  <wsdl:message name="echoNestedClassArray">
    <wsdl:part name="echoNestedClassArray" element="echoNestedClassArray" />
  </wsdl:message>
  <wsdl:message name="echoNestedClassArrayResponse">
    <wsdl:part name="echoNestedClassArrayResponse" element="tns:echoNestedClassArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoSimpleClass">
    <wsdl:part name="echoSimpleClass" element="echoSimpleClass" />
  </wsdl:message>
  <wsdl:message name="echoSimpleClassResponse">
    <wsdl:part name="echoSimpleClassResponse" element="tns:echoSimpleClassResponse" />
  </wsdl:message>
  <wsdl:message name="echoSimpleClassArray">
    <wsdl:part name="echoSimpleClassArray" element="echoSimpleClassArray" />
  </wsdl:message>
  <wsdl:message name="echoSimpleClassArrayResponse">
    <wsdl:part name="echoSimpleClassArrayResponse" element="tns:echoSimpleClassArrayResponse" />
  </wsdl:message>
  <wsdl:message name="echoString">
    <wsdl:part name="echoString" element="echoString" />
  </wsdl:message>
  <wsdl:message name="echoStringResponse">
    <wsdl:part name="echoStringResponse" element="tns:echoStringResponse" />
  </wsdl:message>
  <wsdl:message name="echoStringArray">
    <wsdl:part name="echoStringArray" element="echoStringArray" />
  </wsdl:message>
  <wsdl:message name="echoStringArrayResponse">
    <wsdl:part name="echoStringArrayResponse" element="tns:echoStringArrayResponse" />
  </wsdl:message>
  <wsdl:message name="multiParam">
    <wsdl:part name="multiParam" element="multiParam" />
  </wsdl:message>
  <wsdl:message name="multiParamResponse">
    <wsdl:part name="multiParamResponse" element="tns:multiParamResponse" />
  </wsdl:message>
  <wsdl:message name="returnOnly">
    <wsdl:part name="returnOnly" element="returnOnly" />
  </wsdl:message>
  <wsdl:message name="returnOnlyResponse">
    <wsdl:part name="returnOnlyResponse" element="tns:returnOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="testEmpty">
    <wsdl:part name="testEmpty" element="testEmpty" />
  </wsdl:message>
  <wsdl:message name="testEmptyResponse">
    <wsdl:part name="testEmptyResponse" element="tns:testEmptyResponse" />
  </wsdl:message>
  <wsdl:portType name="InteropService">
    <wsdl:operation name="doSomethingElse" parameterOrder="doSomethingElse">
      <wsdl:input name="doSomethingElse" message="tns:doSomethingElse" />
      <wsdl:output name="doSomethingElseResponse" message="tns:doSomethingElseResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoAttachment" parameterOrder="echoAttachment">
      <wsdl:input name="echoAttachment" message="tns:echoAttachment" />
      <wsdl:output name="echoAttachmentResponse" message="tns:echoAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoAttachmentArray" parameterOrder="echoAttachmentArray">
      <wsdl:input name="echoAttachmentArray" message="tns:echoAttachmentArray" />
      <wsdl:output name="echoAttachmentArrayResponse" message="tns:echoAttachmentArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoBoolean" parameterOrder="echoBoolean">
      <wsdl:input name="echoBoolean" message="tns:echoBoolean" />
      <wsdl:output name="echoBooleanResponse" message="tns:echoBooleanResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoBooleanArray" parameterOrder="echoBooleanArray">
      <wsdl:input name="echoBooleanArray" message="tns:echoBooleanArray" />
      <wsdl:output name="echoBooleanArrayResponse" message="tns:echoBooleanArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoDateTime" parameterOrder="echoDateTime">
      <wsdl:input name="echoDateTime" message="tns:echoDateTime" />
      <wsdl:output name="echoDateTimeResponse" message="tns:echoDateTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoDateTimeArray" parameterOrder="echoDateTimeArray">
      <wsdl:input name="echoDateTimeArray" message="tns:echoDateTimeArray" />
      <wsdl:output name="echoDateTimeArrayResponse" message="tns:echoDateTimeArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoEnum" parameterOrder="echoEnum">
      <wsdl:input name="echoEnum" message="tns:echoEnum" />
      <wsdl:output name="echoEnumResponse" message="tns:echoEnumResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoFloat" parameterOrder="echoFloat">
      <wsdl:input name="echoFloat" message="tns:echoFloat" />
      <wsdl:output name="echoFloatResponse" message="tns:echoFloatResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoFloatArray" parameterOrder="echoFloatArray">
      <wsdl:input name="echoFloatArray" message="tns:echoFloatArray" />
      <wsdl:output name="echoFloatArrayResponse" message="tns:echoFloatArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoInteger" parameterOrder="echoInteger">
      <wsdl:input name="echoInteger" message="tns:echoInteger" />
      <wsdl:output name="echoIntegerResponse" message="tns:echoIntegerResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoIntegerArray" parameterOrder="echoIntegerArray">
      <wsdl:input name="echoIntegerArray" message="tns:echoIntegerArray" />
      <wsdl:output name="echoIntegerArrayResponse" message="tns:echoIntegerArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoNestedClass" parameterOrder="echoNestedClass">
      <wsdl:input name="echoNestedClass" message="tns:echoNestedClass" />
      <wsdl:output name="echoNestedClassResponse" message="tns:echoNestedClassResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoNestedClassArray" parameterOrder="echoNestedClassArray">
      <wsdl:input name="echoNestedClassArray" message="tns:echoNestedClassArray" />
      <wsdl:output name="echoNestedClassArrayResponse" message="tns:echoNestedClassArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoSimpleClass" parameterOrder="echoSimpleClass">
      <wsdl:input name="echoSimpleClass" message="tns:echoSimpleClass" />
      <wsdl:output name="echoSimpleClassResponse" message="tns:echoSimpleClassResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoSimpleClassArray" parameterOrder="echoSimpleClassArray">
      <wsdl:input name="echoSimpleClassArray" message="tns:echoSimpleClassArray" />
      <wsdl:output name="echoSimpleClassArrayResponse" message="tns:echoSimpleClassArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoString" parameterOrder="echoString">
      <wsdl:input name="echoString" message="tns:echoString" />
      <wsdl:output name="echoStringResponse" message="tns:echoStringResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoStringArray" parameterOrder="echoStringArray">
      <wsdl:input name="echoStringArray" message="tns:echoStringArray" />
      <wsdl:output name="echoStringArrayResponse" message="tns:echoStringArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="multiParam" parameterOrder="multiParam">
      <wsdl:input name="multiParam" message="tns:multiParam" />
      <wsdl:output name="multiParamResponse" message="tns:multiParamResponse" />
    </wsdl:operation>
    <wsdl:operation name="returnOnly" parameterOrder="returnOnly">
      <wsdl:input name="returnOnly" message="tns:returnOnly" />
      <wsdl:output name="returnOnlyResponse" message="tns:returnOnlyResponse" />
    </wsdl:operation>
    <wsdl:operation name="testEmpty" parameterOrder="testEmpty">
      <wsdl:input name="testEmpty" message="tns:testEmpty" />
      <wsdl:output name="testEmptyResponse" message="tns:testEmptyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="InteropService">
    <wsdl:port name="InteropService" binding="tns:InteropService">
      <soap:address location="http://localhost:9753/?wsdl" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:types>
    <xs:schema targetNamespace="__main__" elementFormDefault="qualified">
      <xs:complexType name="SimpleClassArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleClass" type="s2:SimpleClass" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NestedClassArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="NestedClass" type="s2:NestedClass" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NestedClass">
        <xs:sequence>
          <xs:element name="simple" minOccurs="0" type="s2:SimpleClassArray" />
          <xs:element name="i" minOccurs="0" type="xs:integer" />
          <xs:element name="s" minOccurs="0" type="xs:string" />
          <xs:element name="other" minOccurs="0" type="s2:OtherClass" />
          <xs:element name="f" minOccurs="0" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SimpleClass">
        <xs:sequence>
          <xs:element name="i" minOccurs="0" type="xs:integer" />
          <xs:element name="s" minOccurs="0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OtherClass">
        <xs:sequence>
          <xs:element name="dt" minOccurs="0" type="xs:dateTime" />
          <xs:element name="b" minOccurs="0" type="xs:boolean" />
          <xs:element name="f" minOccurs="0" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SimpleClassArray" type="s2:SimpleClassArray" />
      <xs:element name="NestedClassArray" type="s2:NestedClassArray" />
      <xs:element name="NestedClass" type="s2:NestedClass" />
      <xs:element name="SimpleClass" type="s2:SimpleClass" />
      <xs:element name="OtherClass" type="s2:OtherClass" />
      <xs:import namespace="__main__" />
    </xs:schema>
    <xs:schema targetNamespace="soaplib.serializers.base" elementFormDefault="qualified">
      <xs:complexType name="integerArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="integer" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dateTimeArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="floatArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="booleanArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="base64BinaryArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stringArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="integerArray" type="s0:integerArray" />
      <xs:element name="dateTimeArray" type="s0:dateTimeArray" />
      <xs:element name="floatArray" type="s0:floatArray" />
      <xs:element name="booleanArray" type="s0:booleanArray" />
      <xs:element name="base64BinaryArray" type="s0:base64BinaryArray" />
      <xs:element name="stringArray" type="s0:stringArray" />
    </xs:schema>
    <xs:schema targetNamespace="InteropService.InteropService" elementFormDefault="qualified">
      <xs:complexType name="testEmptyResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="echoDateTimeArrayResponse">
        <xs:sequence>
          <xs:element name="echoDateTimeArrayResult" minOccurs="0" type="s0:dateTimeArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoFloatArray">
        <xs:sequence>
          <xs:element name="fa" minOccurs="0" type="s0:floatArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoDateTimeArray">
        <xs:sequence>
          <xs:element name="dta" minOccurs="0" type="s0:dateTimeArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doSomethingElse">
        <xs:sequence>
          <xs:element name="s" minOccurs="0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoIntegerArray">
        <xs:sequence>
          <xs:element name="ia" minOccurs="0" type="s0:integerArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoNestedClassArrayResponse">
        <xs:sequence>
          <xs:element name="echoNestedClassArrayResult" minOccurs="0" type="s2:NestedClassArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoBoolean">
        <xs:sequence>
          <xs:element name="b" minOccurs="0" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doSomethingElseResponse">
        <xs:sequence>
          <xs:element name="doSomethingElseResult" minOccurs="0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="multiParamResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="echoSimpleClassArray">
        <xs:sequence>
          <xs:element name="sca" minOccurs="0" type="s2:SimpleClassArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoEnumResponse">
        <xs:sequence>
          <xs:element name="echoEnumResult" minOccurs="0" type="s1:DaysOfWeekEnum" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoFloat">
        <xs:sequence>
          <xs:element name="f" minOccurs="0" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoBooleanResponse">
        <xs:sequence>
          <xs:element name="echoBooleanResult" minOccurs="0" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoDateTimeResponse">
        <xs:sequence>
          <xs:element name="echoDateTimeResult" minOccurs="0" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoString">
        <xs:sequence>
          <xs:element name="s" minOccurs="0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoSimpleClassArrayResponse">
        <xs:sequence>
          <xs:element name="echoSimpleClassArrayResult" minOccurs="0" type="s2:SimpleClassArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoBooleanArray">
        <xs:sequence>
          <xs:element name="ba" minOccurs="0" type="s0:booleanArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoStringArrayResponse">
        <xs:sequence>
          <xs:element name="echoStringArrayResult" minOccurs="0" type="s0:stringArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="returnOnly">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="returnOnlyResponse">
        <xs:sequence>
          <xs:element name="returnOnlyResult" minOccurs="0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoInteger">
        <xs:sequence>
          <xs:element name="i" minOccurs="0" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoIntegerResponse">
        <xs:sequence>
          <xs:element name="echoIntegerResult" minOccurs="0" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoSimpleClass">
        <xs:sequence>
          <xs:element name="sc" minOccurs="0" type="s2:SimpleClass" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoNestedClassResponse">
        <xs:sequence>
          <xs:element name="echoNestedClassResult" minOccurs="0" type="s2:NestedClass" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="testEmpty">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="echoAttachmentArray">
        <xs:sequence>
          <xs:element name="aa" minOccurs="0" type="s0:base64BinaryArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoNestedClass">
        <xs:sequence>
          <xs:element name="nc" minOccurs="0" type="s2:NestedClass" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoIntegerArrayResponse">
        <xs:sequence>
          <xs:element name="echoIntegerArrayResult" minOccurs="0" type="s0:integerArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="multiParam">
        <xs:sequence>
          <xs:element name="i" minOccurs="0" type="xs:integer" />
          <xs:element name="s" minOccurs="0" type="xs:string" />
          <xs:element name="dt" minOccurs="0" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoFloatArrayResponse">
        <xs:sequence>
          <xs:element name="echoFloatArrayResult" minOccurs="0" type="s0:floatArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoFloatResponse">
        <xs:sequence>
          <xs:element name="echoFloatResult" minOccurs="0" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoNestedClassArray">
        <xs:sequence>
          <xs:element name="nca" minOccurs="0" type="s2:NestedClassArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoAttachmentResponse">
        <xs:sequence>
          <xs:element name="echoAttachmentResult" minOccurs="0" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoSimpleClassResponse">
        <xs:sequence>
          <xs:element name="echoSimpleClassResult" minOccurs="0" type="s2:SimpleClass" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoAttachmentArrayResponse">
        <xs:sequence>
          <xs:element name="echoAttachmentArrayResult" minOccurs="0" type="s0:base64BinaryArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoAttachment">
        <xs:sequence>
          <xs:element name="a" minOccurs="0" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoStringArray">
        <xs:sequence>
          <xs:element name="sa" minOccurs="0" type="s0:stringArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoDateTime">
        <xs:sequence>
          <xs:element name="dt" minOccurs="0" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoStringResponse">
        <xs:sequence>
          <xs:element name="echoStringResult" minOccurs="0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoEnum">
        <xs:sequence>
          <xs:element name="day" minOccurs="0" type="s1:DaysOfWeekEnum" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echoBooleanArrayResponse">
        <xs:sequence>
          <xs:element name="echoBooleanArrayResult" minOccurs="0" type="s0:booleanArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="testEmptyResponse" type="tns:testEmptyResponse" />
      <xs:element name="echoDateTimeArrayResponse" type="tns:echoDateTimeArrayResponse" />
      <xs:element name="echoFloatArray" type="tns:echoFloatArray" />
      <xs:element name="echoDateTimeArray" type="tns:echoDateTimeArray" />
      <xs:element name="doSomethingElse" type="tns:doSomethingElse" />
      <xs:element name="echoIntegerArray" type="tns:echoIntegerArray" />
      <xs:element name="echoNestedClassArrayResponse" type="tns:echoNestedClassArrayResponse" />
      <xs:element name="echoBoolean" type="tns:echoBoolean" />
      <xs:element name="doSomethingElseResponse" type="tns:doSomethingElseResponse" />
      <xs:element name="multiParamResponse" type="tns:multiParamResponse" />
      <xs:element name="echoSimpleClassArray" type="tns:echoSimpleClassArray" />
      <xs:element name="echoEnumResponse" type="tns:echoEnumResponse" />
      <xs:element name="echoFloat" type="tns:echoFloat" />
      <xs:element name="echoBooleanResponse" type="tns:echoBooleanResponse" />
      <xs:element name="echoDateTimeResponse" type="tns:echoDateTimeResponse" />
      <xs:element name="echoString" type="tns:echoString" />
      <xs:element name="echoSimpleClassArrayResponse" type="tns:echoSimpleClassArrayResponse" />
      <xs:element name="echoBooleanArray" type="tns:echoBooleanArray" />
      <xs:element name="echoAttachmentArrayResponse" type="tns:echoAttachmentArrayResponse" />
      <xs:element name="echoStringArrayResponse" type="tns:echoStringArrayResponse" />
      <xs:element name="returnOnly" type="tns:returnOnly" />
      <xs:element name="returnOnlyResponse" type="tns:returnOnlyResponse" />
      <xs:element name="echoInteger" type="tns:echoInteger" />
      <xs:element name="echoSimpleClass" type="tns:echoSimpleClass" />
      <xs:element name="echoNestedClassResponse" type="tns:echoNestedClassResponse" />
      <xs:element name="testEmpty" type="tns:testEmpty" />
      <xs:element name="echoAttachmentArray" type="tns:echoAttachmentArray" />
      <xs:element name="echoNestedClass" type="tns:echoNestedClass" />
      <xs:element name="echoIntegerArrayResponse" type="tns:echoIntegerArrayResponse" />
      <xs:element name="multiParam" type="tns:multiParam" />
      <xs:element name="echoFloatArrayResponse" type="tns:echoFloatArrayResponse" />
      <xs:element name="echoFloatResponse" type="tns:echoFloatResponse" />
      <xs:element name="echoNestedClassArray" type="tns:echoNestedClassArray" />
      <xs:element name="echoAttachmentResponse" type="tns:echoAttachmentResponse" />
      <xs:element name="echoSimpleClassResponse" type="tns:echoSimpleClassResponse" />
      <xs:element name="echoBooleanArrayResponse" type="tns:echoBooleanArrayResponse" />
      <xs:element name="echoAttachment" type="tns:echoAttachment" />
      <xs:element name="echoStringArray" type="tns:echoStringArray" />
      <xs:element name="echoDateTime" type="tns:echoDateTime" />
      <xs:element name="echoStringResponse" type="tns:echoStringResponse" />
      <xs:element name="echoEnum" type="tns:echoEnum" />
      <xs:element name="echoIntegerResponse" type="tns:echoIntegerResponse" />
      <xs:import namespace="soaplib.serializers.base" />
      <xs:import namespace="soaplib.serializers.enum" />
      <xs:import namespace="__main__" />
      <xs:simpleType name="DaysOfWeekEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Monday" />
          <xs:enumeration value="Tuesday" />
          <xs:enumeration value="Wednesday" />
          <xs:enumeration value="Friday" />
          <xs:enumeration value="Saturday" />
          <xs:enumeration value="Sunday" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
</wsdl:definitions>
