spyne/test/wsdl.xml

<?xml version="1.0" encoding="utf8"?>
<wsdl:definitions name="Application" targetNamespace="spyne.test.interop.server"
                  xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:s0="punk.tunk"
                  xmlns:s1="hunk.sunk"
                  xmlns:s2="bar"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:tns="spyne.test.interop.server"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xop="http://www.w3.org/2004/08/xop/include"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="bar">
      <xsd:import namespace="punk.tunk"/>
      <xsd:import namespace="hunk.sunk"/>
      <xsd:element name="ExtensionClass" type="s2:ExtensionClass"/>
      <xsd:complexType name="ExtensionClass">
        <xsd:complexContent>
          <xsd:extension base="s0:NestedClass">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="l" nillable="true" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="q" nillable="true" type="xsd:integer"/>
              <xsd:element minOccurs="0" name="p" nillable="true" type="s1:NonNillableClass"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="hunk.sunk">
      <xsd:element name="NonNillableClass" type="s1:NonNillableClass"/>
      <xsd:simpleType name="NonNillableClass_sType">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="NonNillableClass">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="i" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="s" type="s1:NonNillableClass_sType"/>
          <xsd:element name="dt" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="punk.tunk">
      <xsd:import namespace="spyne.test.interop.server"/>
      <xsd:element name="NestedClass" type="s0:NestedClass"/>
      <xsd:element name="NestedClassArray" type="s0:NestedClassArray"/>
      <xsd:complexType name="NestedClass">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="f" nillable="true" type="xsd:float"/>
          <xsd:element minOccurs="0" name="simple" nillable="true" type="tns:SimpleClassArray"/>
          <xsd:element minOccurs="0" name="i" nillable="true" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="s" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="other" nillable="true" type="tns:OtherClass"/>
          <xsd:element minOccurs="0" name="ai" nillable="true" type="tns:integerArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NestedClassArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="NestedClass" nillable="true" type="s0:NestedClass"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="spyne.test.interop.server">
      <xsd:import namespace="punk.tunk"/>
      <xsd:import namespace="bar"/>
      <xsd:import namespace="hunk.sunk"/>
      <xsd:element name="ClassWithSelfReference" type="tns:ClassWithSelfReference"/>
      <xsd:element name="DocumentedFault" type="tns:DocumentedFault"/>
      <xsd:element name="InHeader" type="tns:InHeader"/>
      <xsd:element name="InTraceHeader" type="tns:InTraceHeader"/>
      <xsd:element name="OtherClass" type="tns:OtherClass"/>
      <xsd:element name="OtherClassArray" type="tns:OtherClassArray"/>
      <xsd:element name="OutHeader" type="tns:OutHeader"/>
      <xsd:element name="OutTraceHeader" type="tns:OutTraceHeader"/>
      <xsd:element name="RoleEnumArray" type="tns:RoleEnumArray"/>
      <xsd:element name="SimpleClass" type="tns:SimpleClass"/>
      <xsd:element name="SimpleClassArray" type="tns:SimpleClassArray"/>
      <xsd:element name="base64BinaryArray" type="tns:base64BinaryArray"/>
      <xsd:element name="booleanArray" type="tns:booleanArray"/>
      <xsd:element name="booleanArrayArray" type="tns:booleanArrayArray"/>
      <xsd:element name="complex_return" type="tns:complex_return"/>
      <xsd:element name="complex_returnResponse" type="tns:complex_returnResponse"/>
      <xsd:element name="dateTimeArray" type="tns:dateTimeArray"/>
      <xsd:element name="do_something" type="tns:do_something"/>
      <xsd:element name="do_something_elseResponse" type="tns:do_something_elseResponse"/>
      <xsd:element name="documented_exception" type="tns:documented_exception"/>
      <xsd:element name="documented_exceptionResponse" type="tns:documented_exceptionResponse"/>
      <xsd:element name="doubleArray" type="tns:doubleArray"/>
      <xsd:element name="echo_any" type="tns:echo_any"/>
      <xsd:element name="echo_anyResponse" type="tns:echo_anyResponse"/>
      <xsd:element name="echo_any_as_dict" type="tns:echo_any_as_dict"/>
      <xsd:element name="echo_any_as_dictResponse" type="tns:echo_any_as_dictResponse"/>
      <xsd:element name="echo_array_in_array" type="tns:echo_array_in_array"/>
      <xsd:element name="echo_array_in_arrayResponse" type="tns:echo_array_in_arrayResponse"/>
      <xsd:element name="echo_attachment" type="tns:echo_attachment"/>
      <xsd:element name="echo_attachmentResponse" type="tns:echo_attachmentResponse"/>
      <xsd:element name="echo_attachment_array" type="tns:echo_attachment_array"/>
      <xsd:element name="echo_attachment_arrayResponse" type="tns:echo_attachment_arrayResponse"/>
      <xsd:element name="echo_boolean" type="tns:echo_boolean"/>
      <xsd:element name="echo_booleanResponse" type="tns:echo_booleanResponse"/>
      <xsd:element name="echo_boolean_array" type="tns:echo_boolean_array"/>
      <xsd:element name="echo_boolean_arrayResponse" type="tns:echo_boolean_arrayResponse"/>
      <xsd:element name="echo_bytearray" type="tns:echo_bytearray"/>
      <xsd:element name="echo_bytearrayResponse" type="tns:echo_bytearrayResponse"/>
      <xsd:element name="echo_class_with_self_reference" type="tns:echo_class_with_self_reference"/>
      <xsd:element name="echo_class_with_self_referenceResponse" type="tns:echo_class_with_self_referenceResponse"/>
      <xsd:element name="echo_complex_bare" type="tns:stringArray"/>
      <xsd:element name="echo_complex_bareResponse" type="tns:stringArray"/>
      <xsd:element name="echo_date" type="tns:echo_date"/>
      <xsd:element name="echo_dateResponse" type="tns:echo_dateResponse"/>
      <xsd:element name="echo_date_time_array" type="tns:echo_date_time_array"/>
      <xsd:element name="echo_date_time_arrayResponse" type="tns:echo_date_time_arrayResponse"/>
      <xsd:element name="echo_date_with_invalid_format" type="tns:echo_date_with_invalid_format"/>
      <xsd:element name="echo_date_with_invalid_formatResponse" type="tns:echo_date_with_invalid_formatResponse"/>
      <xsd:element name="echo_datetime" type="tns:echo_datetime"/>
      <xsd:element name="echo_datetimeResponse" type="tns:echo_datetimeResponse"/>
      <xsd:element name="echo_datetime_with_invalid_format" type="tns:echo_datetime_with_invalid_format"/>
      <xsd:element name="echo_datetime_with_invalid_formatResponse" type="tns:echo_datetime_with_invalid_formatResponse"/>
      <xsd:element name="echo_double" type="tns:echo_double"/>
      <xsd:element name="echo_doubleResponse" type="tns:echo_doubleResponse"/>
      <xsd:element name="echo_double_array" type="tns:echo_double_array"/>
      <xsd:element name="echo_double_arrayResponse" type="tns:echo_double_arrayResponse"/>
      <xsd:element name="echo_duration" type="tns:echo_duration"/>
      <xsd:element name="echo_durationResponse" type="tns:echo_durationResponse"/>
      <xsd:element name="echo_enum" type="tns:echo_enum"/>
      <xsd:element name="echo_enumResponse" type="tns:echo_enumResponse"/>
      <xsd:element name="echo_extension_class" type="tns:echo_extension_class"/>
      <xsd:element name="echo_extension_classResponse" type="tns:echo_extension_classResponse"/>
      <xsd:element name="echo_float" type="tns:echo_float"/>
      <xsd:element name="echo_floatResponse" type="tns:echo_floatResponse"/>
      <xsd:element name="echo_float_array" type="tns:echo_float_array"/>
      <xsd:element name="echo_float_arrayResponse" type="tns:echo_float_arrayResponse"/>
      <xsd:element name="echo_in_complex_header" type="tns:echo_in_complex_header"/>
      <xsd:element name="echo_in_complex_headerResponse" type="tns:echo_in_complex_headerResponse"/>
      <xsd:element name="echo_in_header" type="tns:echo_in_header"/>
      <xsd:element name="echo_in_headerResponse" type="tns:echo_in_headerResponse"/>
      <xsd:element name="echo_integer" type="tns:echo_integer"/>
      <xsd:element name="echo_integerResponse" type="tns:echo_integerResponse"/>
      <xsd:element name="echo_integer_array" type="tns:echo_integer_array"/>
      <xsd:element name="echo_integer_arrayResponse" type="tns:echo_integer_arrayResponse"/>
      <xsd:element name="echo_nested_class" type="tns:echo_nested_class"/>
      <xsd:element name="echo_nested_classResponse" type="tns:echo_nested_classResponse"/>
      <xsd:element name="echo_nested_class_array" type="tns:echo_nested_class_array"/>
      <xsd:element name="echo_nested_class_arrayResponse" type="tns:echo_nested_class_arrayResponse"/>
      <xsd:element name="echo_simple_bare" type="xsd:string"/>
      <xsd:element name="echo_simple_bareResponse" type="xsd:string"/>
      <xsd:element name="echo_simple_boolean_array" type="tns:echo_simple_boolean_array"/>
      <xsd:element name="echo_simple_boolean_arrayResponse" type="tns:echo_simple_boolean_arrayResponse"/>
      <xsd:element name="echo_simple_class" type="tns:echo_simple_class"/>
      <xsd:element name="echo_simple_classResponse" type="tns:echo_simple_classResponse"/>
      <xsd:element name="echo_simple_class_array" type="tns:echo_simple_class_array"/>
      <xsd:element name="echo_simple_class_arrayResponse" type="tns:echo_simple_class_arrayResponse"/>
      <xsd:element name="echo_string" type="tns:echo_string"/>
      <xsd:element name="echo_stringResponse" type="tns:echo_stringResponse"/>
      <xsd:element name="echo_string_array" type="tns:echo_string_array"/>
      <xsd:element name="echo_string_arrayResponse" type="tns:echo_string_arrayResponse"/>
      <xsd:element name="echo_time" type="tns:echo_time"/>
      <xsd:element name="echo_timeResponse" type="tns:echo_timeResponse"/>
      <xsd:element name="echo_time_with_invalid_format" type="tns:echo_time_with_invalid_format"/>
      <xsd:element name="echo_time_with_invalid_formatResponse" type="tns:echo_time_with_invalid_formatResponse"/>
      <xsd:element name="empty_input_bare" type="tns:empty_input_bare"/>
      <xsd:element name="empty_input_bareResponse" type="xsd:string"/>
      <xsd:element name="empty_output_bare" type="xsd:string"/>
      <xsd:element name="empty_output_bareResponse" type="tns:empty_output_bareResponse"/>
      <xsd:element name="floatArray" type="tns:floatArray"/>
      <xsd:element name="getCustomMessagesMsgIn" type="tns:getCustomMessagesMsgIn"/>
      <xsd:element name="getCustomMessagesMsgOut" type="tns:getCustomMessagesMsgOut"/>
      <xsd:element name="huge_number" type="tns:huge_number"/>
      <xsd:element name="huge_numberResponse" type="tns:huge_numberResponse"/>
      <xsd:element name="integerArray" type="tns:integerArray"/>
      <xsd:element name="long_string" type="tns:long_string"/>
      <xsd:element name="long_stringResponse" type="tns:long_stringResponse"/>
      <xsd:element name="multi_param" type="tns:multi_param"/>
      <xsd:element name="multi_paramResponse" type="tns:multi_paramResponse"/>
      <xsd:element name="non_nillable" type="tns:non_nillable"/>
      <xsd:element name="non_nillableResponse" type="tns:non_nillableResponse"/>
      <xsd:element name="python_exception" type="tns:python_exception"/>
      <xsd:element name="python_exceptionResponse" type="tns:python_exceptionResponse"/>
      <xsd:element name="return_binary_data" type="tns:return_binary_data"/>
      <xsd:element name="return_binary_dataResponse" type="tns:return_binary_dataResponse"/>
      <xsd:element name="return_invalid_data" type="tns:return_invalid_data"/>
      <xsd:element name="return_invalid_dataResponse" type="tns:return_invalid_dataResponse"/>
      <xsd:element name="return_other_class_array" type="tns:return_other_class_array"/>
      <xsd:element name="return_other_class_arrayResponse" type="tns:return_other_class_arrayResponse"/>
      <xsd:element name="send_out_complex_header" type="tns:send_out_complex_header"/>
      <xsd:element name="send_out_complex_headerResponse" type="tns:send_out_complex_headerResponse"/>
      <xsd:element name="send_out_header" type="tns:send_out_header"/>
      <xsd:element name="send_out_headerResponse" type="tns:send_out_headerResponse"/>
      <xsd:element name="soap_exception" type="tns:soap_exception"/>
      <xsd:element name="soap_exceptionResponse" type="tns:soap_exceptionResponse"/>
      <xsd:element name="stringArray" type="tns:stringArray"/>
      <xsd:element name="test_empty" type="tns:test_empty"/>
      <xsd:element name="test_emptyResponse" type="tns:test_emptyResponse"/>
      <xsd:simpleType name="DaysOfWeekEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Monday"/>
          <xsd:enumeration value="Tuesday"/>
          <xsd:enumeration value="Wednesday"/>
          <xsd:enumeration value="Friday"/>
          <xsd:enumeration value="Saturday"/>
          <xsd:enumeration value="Sunday"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RoleEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MEMBER"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ClassWithSelfReference">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="i" nillable="true" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="sr" nillable="true" type="tns:ClassWithSelfReference"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DocumentedFault"/>
      <xsd:complexType name="InHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="i" nillable="true" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="s" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InTraceHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="callDate" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="client" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OtherClass">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="b" nillable="true" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="d" nillable="true" type="xsd:double"/>
          <xsd:element minOccurs="0" name="dt" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OtherClassArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherClass" nillable="true" type="tns:OtherClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OutHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="f" nillable="true" type="xsd:float"/>
          <xsd:element minOccurs="0" name="dt" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OutTraceHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="receiptDate" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="returnDate" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RoleEnumArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="RoleEnum" nillable="true" type="tns:RoleEnum"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SimpleClass">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="i" nillable="true" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="s" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SimpleClassArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="SimpleClass" nillable="true" type="tns:SimpleClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="base64BinaryArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="base64Binary" nillable="true" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="booleanArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="boolean" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="booleanArrayArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="booleanArray" nillable="true" type="tns:booleanArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="complex_return"/>
      <xsd:complexType name="complex_returnResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resultCode" nillable="true" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="resultDescription" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="transactionId" nillable="true" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="roles" nillable="true" type="tns:RoleEnumArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="dateTimeArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="dateTime" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="do_something">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="s" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="do_something_elseResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="do_something_elseResult" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="documented_exception"/>
      <xsd:complexType name="documented_exceptionResponse"/>
      <xsd:complexType name="doubleArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="double" nillable="true" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_any">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="xml" nillable="true" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_anyResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_anyResult" nillable="true" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_any_as_dict">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="xml_as_dict" nillable="true" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_any_as_dictResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_any_as_dictResult" nillable="true" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_array_in_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="baa" nillable="true" type="tns:booleanArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_array_in_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_array_in_arrayResult" nillable="true" type="tns:booleanArrayArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_attachment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="a" nillable="true" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_attachmentResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_attachmentResult" nillable="true" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_attachment_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="aa" nillable="true" type="tns:base64BinaryArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_attachment_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_attachment_arrayResult" nillable="true" type="tns:base64BinaryArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_boolean">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="b" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_booleanResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_booleanResult" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_boolean_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ba" nillable="true" type="tns:booleanArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_boolean_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_boolean_arrayResult" nillable="true" type="tns:booleanArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_bytearray">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="data" nillable="true" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_bytearrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_bytearrayResult" nillable="true" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_class_with_self_reference">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sr" nillable="true" type="tns:ClassWithSelfReference"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_class_with_self_referenceResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_class_with_self_referenceResult" nillable="true" type="tns:ClassWithSelfReference"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_date">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="d" nillable="true" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_dateResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_dateResult" nillable="true" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_date_time_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dta" nillable="true" type="tns:dateTimeArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_date_time_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_date_time_arrayResult" nillable="true" type="tns:dateTimeArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_date_with_invalid_format">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="d" nillable="true" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_date_with_invalid_formatResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_date_with_invalid_formatResult" nillable="true" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_datetime">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dt" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_datetimeResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_datetimeResult" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_datetime_with_invalid_format">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dt" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_datetime_with_invalid_formatResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_datetime_with_invalid_formatResult" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_double">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="f" nillable="true" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_doubleResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_doubleResult" nillable="true" type="xsd:double"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_double_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="da" nillable="true" type="tns:doubleArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_double_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_double_arrayResult" nillable="true" type="tns:doubleArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_duration">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dur" nillable="true" type="xsd:duration"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_durationResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_durationResult" nillable="true" type="xsd:duration"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_enum">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="day" nillable="true" type="tns:DaysOfWeekEnum"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_enumResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_enumResult" nillable="true" type="tns:DaysOfWeekEnum"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_extension_class">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nc" nillable="true" type="s2:ExtensionClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_extension_classResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_extension_classResult" nillable="true" type="s2:ExtensionClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_float">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="f" nillable="true" type="xsd:float"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_floatResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_floatResult" nillable="true" type="xsd:float"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_float_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fa" nillable="true" type="tns:floatArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_float_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_float_arrayResult" nillable="true" type="tns:floatArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_in_complex_header"/>
      <xsd:complexType name="echo_in_complex_headerResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_in_complex_headerResult0" nillable="true" type="tns:InHeader"/>
          <xsd:element minOccurs="0" name="echo_in_complex_headerResult1" nillable="true" type="tns:InTraceHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_in_header"/>
      <xsd:complexType name="echo_in_headerResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_in_headerResult" nillable="true" type="tns:InHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_integer">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="i" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_integerResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_integerResult" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_integer_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ia" nillable="true" type="tns:integerArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_integer_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_integer_arrayResult" nillable="true" type="tns:integerArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_nested_class">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nc" nillable="true" type="s0:NestedClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_nested_classResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_nested_classResult" nillable="true" type="s0:NestedClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_nested_class_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nca" nillable="true" type="s0:NestedClassArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_nested_class_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_nested_class_arrayResult" nillable="true" type="s0:NestedClassArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_simple_boolean_array">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ba" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_simple_boolean_arrayResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="echo_simple_boolean_arrayResult" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_simple_class">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sc" nillable="true" type="tns:SimpleClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_simple_classResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_simple_classResult" nillable="true" type="tns:SimpleClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_simple_class_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sca" nillable="true" type="tns:SimpleClassArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_simple_class_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_simple_class_arrayResult" nillable="true" type="tns:SimpleClassArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_string">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="s" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_stringResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_stringResult" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_string_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sa" nillable="true" type="tns:stringArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_string_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_string_arrayResult" nillable="true" type="tns:stringArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_time">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="t" nillable="true" type="xsd:time"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_timeResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_timeResult" nillable="true" type="xsd:time"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_time_with_invalid_format">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="t" nillable="true" type="xsd:time"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="echo_time_with_invalid_formatResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="echo_time_with_invalid_formatResult" nillable="true" type="xsd:time"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="empty_input_bare"/>
      <xsd:complexType name="empty_output_bareResponse"/>
      <xsd:complexType name="floatArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="float" nillable="true" type="xsd:float"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getCustomMessagesMsgIn">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="s" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getCustomMessagesMsgOut">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CustomMessages" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="huge_number"/>
      <xsd:complexType name="huge_numberResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="huge_numberResult" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="integerArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="integer" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="long_string"/>
      <xsd:complexType name="long_stringResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="long_stringResult" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="multi_param">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="s" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="i" nillable="true" type="xsd:integer"/>
          <xsd:element minOccurs="0" name="dt" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="multi_paramResponse"/>
      <xsd:complexType name="non_nillable">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="n" nillable="true" type="s1:NonNillableClass"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="non_nillableResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="non_nillableResult" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="python_exception"/>
      <xsd:complexType name="python_exceptionResponse"/>
      <xsd:complexType name="return_binary_data"/>
      <xsd:complexType name="return_binary_dataResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return_binary_dataResult" nillable="true" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="return_invalid_data"/>
      <xsd:complexType name="return_invalid_dataResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return_invalid_dataResult" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="return_other_class_array">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="num" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="return_other_class_arrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return_other_class_arrayResult" nillable="true" type="tns:OtherClassArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="send_out_complex_header"/>
      <xsd:complexType name="send_out_complex_headerResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="send_out_complex_headerResult0" nillable="true" type="tns:OutHeader"/>
          <xsd:element minOccurs="0" name="send_out_complex_headerResult1" nillable="true" type="tns:OutTraceHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="send_out_header"/>
      <xsd:complexType name="send_out_headerResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="send_out_headerResult" nillable="true" type="tns:OutHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="soap_exception"/>
      <xsd:complexType name="soap_exceptionResponse"/>
      <xsd:complexType name="stringArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="test_empty"/>
      <xsd:complexType name="test_emptyResponse"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DocumentedFault">
    <wsdl:part element="tns:DocumentedFault" name="DocumentedFault"/>
  </wsdl:message>
  <wsdl:message name="InHeader">
    <wsdl:part element="tns:InHeader" name="InHeader"/>
  </wsdl:message>
  <wsdl:message name="OutHeader">
    <wsdl:part element="tns:OutHeader" name="OutHeader"/>
  </wsdl:message>
  <wsdl:message name="complex_return">
    <wsdl:part element="tns:complex_return" name="complex_return"/>
  </wsdl:message>
  <wsdl:message name="complex_returnResponse">
    <wsdl:part element="tns:complex_returnResponse" name="complex_returnResponse"/>
  </wsdl:message>
  <wsdl:message name="do_something">
    <wsdl:part element="tns:do_something" name="do_something"/>
  </wsdl:message>
  <wsdl:message name="do_something_elseResponse">
    <wsdl:part element="tns:do_something_elseResponse" name="do_something_elseResponse"/>
  </wsdl:message>
  <wsdl:message name="documented_exception">
    <wsdl:part element="tns:documented_exception" name="documented_exception"/>
  </wsdl:message>
  <wsdl:message name="documented_exceptionResponse">
    <wsdl:part element="tns:documented_exceptionResponse" name="documented_exceptionResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_any">
    <wsdl:part element="tns:echo_any" name="echo_any"/>
  </wsdl:message>
  <wsdl:message name="echo_anyResponse">
    <wsdl:part element="tns:echo_anyResponse" name="echo_anyResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_any_as_dict">
    <wsdl:part element="tns:echo_any_as_dict" name="echo_any_as_dict"/>
  </wsdl:message>
  <wsdl:message name="echo_any_as_dictResponse">
    <wsdl:part element="tns:echo_any_as_dictResponse" name="echo_any_as_dictResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_array_in_array">
    <wsdl:part element="tns:echo_array_in_array" name="echo_array_in_array"/>
  </wsdl:message>
  <wsdl:message name="echo_array_in_arrayResponse">
    <wsdl:part element="tns:echo_array_in_arrayResponse" name="echo_array_in_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_attachment">
    <wsdl:part element="tns:echo_attachment" name="echo_attachment"/>
  </wsdl:message>
  <wsdl:message name="echo_attachmentResponse">
    <wsdl:part element="tns:echo_attachmentResponse" name="echo_attachmentResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_attachment_array">
    <wsdl:part element="tns:echo_attachment_array" name="echo_attachment_array"/>
  </wsdl:message>
  <wsdl:message name="echo_attachment_arrayResponse">
    <wsdl:part element="tns:echo_attachment_arrayResponse" name="echo_attachment_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_boolean">
    <wsdl:part element="tns:echo_boolean" name="echo_boolean"/>
  </wsdl:message>
  <wsdl:message name="echo_booleanResponse">
    <wsdl:part element="tns:echo_booleanResponse" name="echo_booleanResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_boolean_array">
    <wsdl:part element="tns:echo_boolean_array" name="echo_boolean_array"/>
  </wsdl:message>
  <wsdl:message name="echo_boolean_arrayResponse">
    <wsdl:part element="tns:echo_boolean_arrayResponse" name="echo_boolean_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_bytearray">
    <wsdl:part element="tns:echo_bytearray" name="echo_bytearray"/>
  </wsdl:message>
  <wsdl:message name="echo_bytearrayResponse">
    <wsdl:part element="tns:echo_bytearrayResponse" name="echo_bytearrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_class_with_self_reference">
    <wsdl:part element="tns:echo_class_with_self_reference" name="echo_class_with_self_reference"/>
  </wsdl:message>
  <wsdl:message name="echo_class_with_self_referenceResponse">
    <wsdl:part element="tns:echo_class_with_self_referenceResponse" name="echo_class_with_self_referenceResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_complex_bare">
    <wsdl:part element="tns:echo_complex_bare" name="echo_complex_bare"/>
  </wsdl:message>
  <wsdl:message name="echo_complex_bareResponse">
    <wsdl:part element="tns:echo_complex_bareResponse" name="echo_complex_bareResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_date">
    <wsdl:part element="tns:echo_date" name="echo_date"/>
  </wsdl:message>
  <wsdl:message name="echo_dateResponse">
    <wsdl:part element="tns:echo_dateResponse" name="echo_dateResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_date_time_array">
    <wsdl:part element="tns:echo_date_time_array" name="echo_date_time_array"/>
  </wsdl:message>
  <wsdl:message name="echo_date_time_arrayResponse">
    <wsdl:part element="tns:echo_date_time_arrayResponse" name="echo_date_time_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_date_with_invalid_format">
    <wsdl:part element="tns:echo_date_with_invalid_format" name="echo_date_with_invalid_format"/>
  </wsdl:message>
  <wsdl:message name="echo_date_with_invalid_formatResponse">
    <wsdl:part element="tns:echo_date_with_invalid_formatResponse" name="echo_date_with_invalid_formatResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_datetime">
    <wsdl:part element="tns:echo_datetime" name="echo_datetime"/>
  </wsdl:message>
  <wsdl:message name="echo_datetimeResponse">
    <wsdl:part element="tns:echo_datetimeResponse" name="echo_datetimeResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_datetime_with_invalid_format">
    <wsdl:part element="tns:echo_datetime_with_invalid_format" name="echo_datetime_with_invalid_format"/>
  </wsdl:message>
  <wsdl:message name="echo_datetime_with_invalid_formatResponse">
    <wsdl:part element="tns:echo_datetime_with_invalid_formatResponse" name="echo_datetime_with_invalid_formatResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_double">
    <wsdl:part element="tns:echo_double" name="echo_double"/>
  </wsdl:message>
  <wsdl:message name="echo_doubleResponse">
    <wsdl:part element="tns:echo_doubleResponse" name="echo_doubleResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_double_array">
    <wsdl:part element="tns:echo_double_array" name="echo_double_array"/>
  </wsdl:message>
  <wsdl:message name="echo_double_arrayResponse">
    <wsdl:part element="tns:echo_double_arrayResponse" name="echo_double_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_duration">
    <wsdl:part element="tns:echo_duration" name="echo_duration"/>
  </wsdl:message>
  <wsdl:message name="echo_durationResponse">
    <wsdl:part element="tns:echo_durationResponse" name="echo_durationResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_enum">
    <wsdl:part element="tns:echo_enum" name="echo_enum"/>
  </wsdl:message>
  <wsdl:message name="echo_enumResponse">
    <wsdl:part element="tns:echo_enumResponse" name="echo_enumResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_extension_class">
    <wsdl:part element="tns:echo_extension_class" name="echo_extension_class"/>
  </wsdl:message>
  <wsdl:message name="echo_extension_classResponse">
    <wsdl:part element="tns:echo_extension_classResponse" name="echo_extension_classResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_float">
    <wsdl:part element="tns:echo_float" name="echo_float"/>
  </wsdl:message>
  <wsdl:message name="echo_floatResponse">
    <wsdl:part element="tns:echo_floatResponse" name="echo_floatResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_float_array">
    <wsdl:part element="tns:echo_float_array" name="echo_float_array"/>
  </wsdl:message>
  <wsdl:message name="echo_float_arrayResponse">
    <wsdl:part element="tns:echo_float_arrayResponse" name="echo_float_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_in_complex_header">
    <wsdl:part element="tns:echo_in_complex_header" name="echo_in_complex_header"/>
  </wsdl:message>
  <wsdl:message name="echo_in_complex_headerInHeaderMsg">
    <wsdl:part element="tns:InHeader" name="InHeader"/>
    <wsdl:part element="tns:InTraceHeader" name="InTraceHeader"/>
  </wsdl:message>
  <wsdl:message name="echo_in_complex_headerOutHeaderMsg">
    <wsdl:part element="tns:OutHeader" name="OutHeader"/>
    <wsdl:part element="tns:OutTraceHeader" name="OutTraceHeader"/>
  </wsdl:message>
  <wsdl:message name="echo_in_complex_headerResponse">
    <wsdl:part element="tns:echo_in_complex_headerResponse" name="echo_in_complex_headerResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_in_header">
    <wsdl:part element="tns:echo_in_header" name="echo_in_header"/>
  </wsdl:message>
  <wsdl:message name="echo_in_headerResponse">
    <wsdl:part element="tns:echo_in_headerResponse" name="echo_in_headerResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_integer">
    <wsdl:part element="tns:echo_integer" name="echo_integer"/>
  </wsdl:message>
  <wsdl:message name="echo_integerResponse">
    <wsdl:part element="tns:echo_integerResponse" name="echo_integerResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_integer_array">
    <wsdl:part element="tns:echo_integer_array" name="echo_integer_array"/>
  </wsdl:message>
  <wsdl:message name="echo_integer_arrayResponse">
    <wsdl:part element="tns:echo_integer_arrayResponse" name="echo_integer_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_nested_class">
    <wsdl:part element="tns:echo_nested_class" name="echo_nested_class"/>
  </wsdl:message>
  <wsdl:message name="echo_nested_classResponse">
    <wsdl:part element="tns:echo_nested_classResponse" name="echo_nested_classResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_nested_class_array">
    <wsdl:part element="tns:echo_nested_class_array" name="echo_nested_class_array"/>
  </wsdl:message>
  <wsdl:message name="echo_nested_class_arrayResponse">
    <wsdl:part element="tns:echo_nested_class_arrayResponse" name="echo_nested_class_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_bare">
    <wsdl:part element="tns:echo_simple_bare" name="echo_simple_bare"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_bareResponse">
    <wsdl:part element="tns:echo_simple_bareResponse" name="echo_simple_bareResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_boolean_array">
    <wsdl:part element="tns:echo_simple_boolean_array" name="echo_simple_boolean_array"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_boolean_arrayResponse">
    <wsdl:part element="tns:echo_simple_boolean_arrayResponse" name="echo_simple_boolean_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_class">
    <wsdl:part element="tns:echo_simple_class" name="echo_simple_class"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_classResponse">
    <wsdl:part element="tns:echo_simple_classResponse" name="echo_simple_classResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_class_array">
    <wsdl:part element="tns:echo_simple_class_array" name="echo_simple_class_array"/>
  </wsdl:message>
  <wsdl:message name="echo_simple_class_arrayResponse">
    <wsdl:part element="tns:echo_simple_class_arrayResponse" name="echo_simple_class_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_string">
    <wsdl:part element="tns:echo_string" name="echo_string"/>
  </wsdl:message>
  <wsdl:message name="echo_stringResponse">
    <wsdl:part element="tns:echo_stringResponse" name="echo_stringResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_string_array">
    <wsdl:part element="tns:echo_string_array" name="echo_string_array"/>
  </wsdl:message>
  <wsdl:message name="echo_string_arrayResponse">
    <wsdl:part element="tns:echo_string_arrayResponse" name="echo_string_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_time">
    <wsdl:part element="tns:echo_time" name="echo_time"/>
  </wsdl:message>
  <wsdl:message name="echo_timeResponse">
    <wsdl:part element="tns:echo_timeResponse" name="echo_timeResponse"/>
  </wsdl:message>
  <wsdl:message name="echo_time_with_invalid_format">
    <wsdl:part element="tns:echo_time_with_invalid_format" name="echo_time_with_invalid_format"/>
  </wsdl:message>
  <wsdl:message name="echo_time_with_invalid_formatResponse">
    <wsdl:part element="tns:echo_time_with_invalid_formatResponse" name="echo_time_with_invalid_formatResponse"/>
  </wsdl:message>
  <wsdl:message name="empty_input_bare">
    <wsdl:part element="tns:empty_input_bare" name="empty_input_bare"/>
  </wsdl:message>
  <wsdl:message name="empty_input_bareResponse">
    <wsdl:part element="tns:empty_input_bareResponse" name="empty_input_bareResponse"/>
  </wsdl:message>
  <wsdl:message name="empty_output_bare">
    <wsdl:part element="tns:empty_output_bare" name="empty_output_bare"/>
  </wsdl:message>
  <wsdl:message name="empty_output_bareResponse">
    <wsdl:part element="tns:empty_output_bareResponse" name="empty_output_bareResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomMessagesMsgIn">
    <wsdl:part element="tns:getCustomMessagesMsgIn" name="getCustomMessagesMsgIn"/>
  </wsdl:message>
  <wsdl:message name="getCustomMessagesMsgOut">
    <wsdl:part element="tns:getCustomMessagesMsgOut" name="getCustomMessagesMsgOut"/>
  </wsdl:message>
  <wsdl:message name="huge_number">
    <wsdl:part element="tns:huge_number" name="huge_number"/>
  </wsdl:message>
  <wsdl:message name="huge_numberResponse">
    <wsdl:part element="tns:huge_numberResponse" name="huge_numberResponse"/>
  </wsdl:message>
  <wsdl:message name="long_string">
    <wsdl:part element="tns:long_string" name="long_string"/>
  </wsdl:message>
  <wsdl:message name="long_stringResponse">
    <wsdl:part element="tns:long_stringResponse" name="long_stringResponse"/>
  </wsdl:message>
  <wsdl:message name="multi_param">
    <wsdl:part element="tns:multi_param" name="multi_param"/>
  </wsdl:message>
  <wsdl:message name="multi_paramResponse">
    <wsdl:part element="tns:multi_paramResponse" name="multi_paramResponse"/>
  </wsdl:message>
  <wsdl:message name="non_nillable">
    <wsdl:part element="tns:non_nillable" name="non_nillable"/>
  </wsdl:message>
  <wsdl:message name="non_nillableResponse">
    <wsdl:part element="tns:non_nillableResponse" name="non_nillableResponse"/>
  </wsdl:message>
  <wsdl:message name="python_exception">
    <wsdl:part element="tns:python_exception" name="python_exception"/>
  </wsdl:message>
  <wsdl:message name="python_exceptionResponse">
    <wsdl:part element="tns:python_exceptionResponse" name="python_exceptionResponse"/>
  </wsdl:message>
  <wsdl:message name="return_binary_data">
    <wsdl:part element="tns:return_binary_data" name="return_binary_data"/>
  </wsdl:message>
  <wsdl:message name="return_binary_dataResponse">
    <wsdl:part element="tns:return_binary_dataResponse" name="return_binary_dataResponse"/>
  </wsdl:message>
  <wsdl:message name="return_invalid_data">
    <wsdl:part element="tns:return_invalid_data" name="return_invalid_data"/>
  </wsdl:message>
  <wsdl:message name="return_invalid_dataResponse">
    <wsdl:part element="tns:return_invalid_dataResponse" name="return_invalid_dataResponse"/>
  </wsdl:message>
  <wsdl:message name="return_other_class_array">
    <wsdl:part element="tns:return_other_class_array" name="return_other_class_array"/>
  </wsdl:message>
  <wsdl:message name="return_other_class_arrayResponse">
    <wsdl:part element="tns:return_other_class_arrayResponse" name="return_other_class_arrayResponse"/>
  </wsdl:message>
  <wsdl:message name="send_out_complex_header">
    <wsdl:part element="tns:send_out_complex_header" name="send_out_complex_header"/>
  </wsdl:message>
  <wsdl:message name="send_out_complex_headerInHeaderMsg">
    <wsdl:part element="tns:InHeader" name="InHeader"/>
    <wsdl:part element="tns:InTraceHeader" name="InTraceHeader"/>
  </wsdl:message>
  <wsdl:message name="send_out_complex_headerOutHeaderMsg">
    <wsdl:part element="tns:OutHeader" name="OutHeader"/>
    <wsdl:part element="tns:OutTraceHeader" name="OutTraceHeader"/>
  </wsdl:message>
  <wsdl:message name="send_out_complex_headerResponse">
    <wsdl:part element="tns:send_out_complex_headerResponse" name="send_out_complex_headerResponse"/>
  </wsdl:message>
  <wsdl:message name="send_out_header">
    <wsdl:part element="tns:send_out_header" name="send_out_header"/>
  </wsdl:message>
  <wsdl:message name="send_out_headerResponse">
    <wsdl:part element="tns:send_out_headerResponse" name="send_out_headerResponse"/>
  </wsdl:message>
  <wsdl:message name="soap_exception">
    <wsdl:part element="tns:soap_exception" name="soap_exception"/>
  </wsdl:message>
  <wsdl:message name="soap_exceptionResponse">
    <wsdl:part element="tns:soap_exceptionResponse" name="soap_exceptionResponse"/>
  </wsdl:message>
  <wsdl:message name="test_empty">
    <wsdl:part element="tns:test_empty" name="test_empty"/>
  </wsdl:message>
  <wsdl:message name="test_emptyResponse">
    <wsdl:part element="tns:test_emptyResponse" name="test_emptyResponse"/>
  </wsdl:message>
  <wsdl:service name="InteropArray">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InteropBare">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InteropClass">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InteropException">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InteropMisc">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InteropPrimitive">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InteropServiceWithComplexHeader">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InteropServiceWithHeader">
    <wsdl:port binding="tns:Application" name="Application">
      <soap:address location="http://localhost:9754/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:portType name="Application">
    <wsdl:operation name="complex_return" parameterOrder="complex_return">
      <wsdl:input message="tns:complex_return" name="complex_return"/>
      <wsdl:output message="tns:complex_returnResponse" name="complex_returnResponse"/>
    </wsdl:operation>
    <wsdl:operation name="custom_messages" parameterOrder="getCustomMessagesMsgIn">
      <wsdl:input message="tns:getCustomMessagesMsgIn" name="getCustomMessagesMsgIn"/>
      <wsdl:output message="tns:getCustomMessagesMsgOut" name="getCustomMessagesMsgOut"/>
    </wsdl:operation>
    <wsdl:operation name="do_something" parameterOrder="do_something">
      <wsdl:input message="tns:do_something" name="do_something"/>
      <wsdl:output message="tns:do_something_elseResponse" name="do_something_elseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="documented_exception" parameterOrder="documented_exception">
      <wsdl:input message="tns:documented_exception" name="documented_exception"/>
      <wsdl:output message="tns:documented_exceptionResponse" name="documented_exceptionResponse"/>
      <wsdl:fault message="tns:DocumentedFault" name="DocumentedFault"/>
    </wsdl:operation>
    <wsdl:operation name="echo_any" parameterOrder="echo_any">
      <wsdl:input message="tns:echo_any" name="echo_any"/>
      <wsdl:output message="tns:echo_anyResponse" name="echo_anyResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_any_as_dict" parameterOrder="echo_any_as_dict">
      <wsdl:input message="tns:echo_any_as_dict" name="echo_any_as_dict"/>
      <wsdl:output message="tns:echo_any_as_dictResponse" name="echo_any_as_dictResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_array_in_array" parameterOrder="echo_array_in_array">
      <wsdl:input message="tns:echo_array_in_array" name="echo_array_in_array"/>
      <wsdl:output message="tns:echo_array_in_arrayResponse" name="echo_array_in_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_attachment" parameterOrder="echo_attachment">
      <wsdl:input message="tns:echo_attachment" name="echo_attachment"/>
      <wsdl:output message="tns:echo_attachmentResponse" name="echo_attachmentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_attachment_array" parameterOrder="echo_attachment_array">
      <wsdl:input message="tns:echo_attachment_array" name="echo_attachment_array"/>
      <wsdl:output message="tns:echo_attachment_arrayResponse" name="echo_attachment_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_boolean" parameterOrder="echo_boolean">
      <wsdl:input message="tns:echo_boolean" name="echo_boolean"/>
      <wsdl:output message="tns:echo_booleanResponse" name="echo_booleanResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_boolean_array" parameterOrder="echo_boolean_array">
      <wsdl:input message="tns:echo_boolean_array" name="echo_boolean_array"/>
      <wsdl:output message="tns:echo_boolean_arrayResponse" name="echo_boolean_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_bytearray" parameterOrder="echo_bytearray">
      <wsdl:input message="tns:echo_bytearray" name="echo_bytearray"/>
      <wsdl:output message="tns:echo_bytearrayResponse" name="echo_bytearrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_class_with_self_reference" parameterOrder="echo_class_with_self_reference">
      <wsdl:input message="tns:echo_class_with_self_reference" name="echo_class_with_self_reference"/>
      <wsdl:output message="tns:echo_class_with_self_referenceResponse" name="echo_class_with_self_referenceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_complex_bare" parameterOrder="echo_complex_bare">
      <wsdl:input message="tns:echo_complex_bare" name="echo_complex_bare"/>
      <wsdl:output message="tns:echo_complex_bareResponse" name="echo_complex_bareResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_date" parameterOrder="echo_date">
      <wsdl:input message="tns:echo_date" name="echo_date"/>
      <wsdl:output message="tns:echo_dateResponse" name="echo_dateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_date_time_array" parameterOrder="echo_date_time_array">
      <wsdl:input message="tns:echo_date_time_array" name="echo_date_time_array"/>
      <wsdl:output message="tns:echo_date_time_arrayResponse" name="echo_date_time_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_date_with_invalid_format" parameterOrder="echo_date_with_invalid_format">
      <wsdl:input message="tns:echo_date_with_invalid_format" name="echo_date_with_invalid_format"/>
      <wsdl:output message="tns:echo_date_with_invalid_formatResponse" name="echo_date_with_invalid_formatResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_datetime" parameterOrder="echo_datetime">
      <wsdl:input message="tns:echo_datetime" name="echo_datetime"/>
      <wsdl:output message="tns:echo_datetimeResponse" name="echo_datetimeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_datetime_with_invalid_format" parameterOrder="echo_datetime_with_invalid_format">
      <wsdl:input message="tns:echo_datetime_with_invalid_format" name="echo_datetime_with_invalid_format"/>
      <wsdl:output message="tns:echo_datetime_with_invalid_formatResponse" name="echo_datetime_with_invalid_formatResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_double" parameterOrder="echo_double">
      <wsdl:input message="tns:echo_double" name="echo_double"/>
      <wsdl:output message="tns:echo_doubleResponse" name="echo_doubleResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_double_array" parameterOrder="echo_double_array">
      <wsdl:input message="tns:echo_double_array" name="echo_double_array"/>
      <wsdl:output message="tns:echo_double_arrayResponse" name="echo_double_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_duration" parameterOrder="echo_duration">
      <wsdl:input message="tns:echo_duration" name="echo_duration"/>
      <wsdl:output message="tns:echo_durationResponse" name="echo_durationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_enum" parameterOrder="echo_enum">
      <wsdl:input message="tns:echo_enum" name="echo_enum"/>
      <wsdl:output message="tns:echo_enumResponse" name="echo_enumResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_extension_class" parameterOrder="echo_extension_class">
      <wsdl:input message="tns:echo_extension_class" name="echo_extension_class"/>
      <wsdl:output message="tns:echo_extension_classResponse" name="echo_extension_classResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_float" parameterOrder="echo_float">
      <wsdl:input message="tns:echo_float" name="echo_float"/>
      <wsdl:output message="tns:echo_floatResponse" name="echo_floatResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_float_array" parameterOrder="echo_float_array">
      <wsdl:input message="tns:echo_float_array" name="echo_float_array"/>
      <wsdl:output message="tns:echo_float_arrayResponse" name="echo_float_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_in_complex_header" parameterOrder="echo_in_complex_header">
      <wsdl:input message="tns:echo_in_complex_header" name="echo_in_complex_header"/>
      <wsdl:output message="tns:echo_in_complex_headerResponse" name="echo_in_complex_headerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_in_header" parameterOrder="echo_in_header">
      <wsdl:input message="tns:echo_in_header" name="echo_in_header"/>
      <wsdl:output message="tns:echo_in_headerResponse" name="echo_in_headerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_integer" parameterOrder="echo_integer">
      <wsdl:input message="tns:echo_integer" name="echo_integer"/>
      <wsdl:output message="tns:echo_integerResponse" name="echo_integerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_integer_array" parameterOrder="echo_integer_array">
      <wsdl:input message="tns:echo_integer_array" name="echo_integer_array"/>
      <wsdl:output message="tns:echo_integer_arrayResponse" name="echo_integer_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class" parameterOrder="echo_nested_class">
      <wsdl:input message="tns:echo_nested_class" name="echo_nested_class"/>
      <wsdl:output message="tns:echo_nested_classResponse" name="echo_nested_classResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class_array" parameterOrder="echo_nested_class_array">
      <wsdl:input message="tns:echo_nested_class_array" name="echo_nested_class_array"/>
      <wsdl:output message="tns:echo_nested_class_arrayResponse" name="echo_nested_class_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_bare" parameterOrder="echo_simple_bare">
      <wsdl:input message="tns:echo_simple_bare" name="echo_simple_bare"/>
      <wsdl:output message="tns:echo_simple_bareResponse" name="echo_simple_bareResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_boolean_array" parameterOrder="echo_simple_boolean_array">
      <wsdl:input message="tns:echo_simple_boolean_array" name="echo_simple_boolean_array"/>
      <wsdl:output message="tns:echo_simple_boolean_arrayResponse" name="echo_simple_boolean_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class" parameterOrder="echo_simple_class">
      <wsdl:input message="tns:echo_simple_class" name="echo_simple_class"/>
      <wsdl:output message="tns:echo_simple_classResponse" name="echo_simple_classResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class_array" parameterOrder="echo_simple_class_array">
      <wsdl:input message="tns:echo_simple_class_array" name="echo_simple_class_array"/>
      <wsdl:output message="tns:echo_simple_class_arrayResponse" name="echo_simple_class_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_string" parameterOrder="echo_string">
      <wsdl:input message="tns:echo_string" name="echo_string"/>
      <wsdl:output message="tns:echo_stringResponse" name="echo_stringResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_string_array" parameterOrder="echo_string_array">
      <wsdl:input message="tns:echo_string_array" name="echo_string_array"/>
      <wsdl:output message="tns:echo_string_arrayResponse" name="echo_string_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_time" parameterOrder="echo_time">
      <wsdl:input message="tns:echo_time" name="echo_time"/>
      <wsdl:output message="tns:echo_timeResponse" name="echo_timeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo_time_with_invalid_format" parameterOrder="echo_time_with_invalid_format">
      <wsdl:input message="tns:echo_time_with_invalid_format" name="echo_time_with_invalid_format"/>
      <wsdl:output message="tns:echo_time_with_invalid_formatResponse" name="echo_time_with_invalid_formatResponse"/>
    </wsdl:operation>
    <wsdl:operation name="empty_input_bare" parameterOrder="empty_input_bare">
      <wsdl:input message="tns:empty_input_bare" name="empty_input_bare"/>
      <wsdl:output message="tns:empty_input_bareResponse" name="empty_input_bareResponse"/>
    </wsdl:operation>
    <wsdl:operation name="empty_output_bare" parameterOrder="empty_output_bare">
      <wsdl:input message="tns:empty_output_bare" name="empty_output_bare"/>
      <wsdl:output message="tns:empty_output_bareResponse" name="empty_output_bareResponse"/>
    </wsdl:operation>
    <wsdl:operation name="huge_number" parameterOrder="huge_number">
      <wsdl:input message="tns:huge_number" name="huge_number"/>
      <wsdl:output message="tns:huge_numberResponse" name="huge_numberResponse"/>
    </wsdl:operation>
    <wsdl:operation name="long_string" parameterOrder="long_string">
      <wsdl:input message="tns:long_string" name="long_string"/>
      <wsdl:output message="tns:long_stringResponse" name="long_stringResponse"/>
    </wsdl:operation>
    <wsdl:operation name="multi_param" parameterOrder="multi_param">
      <wsdl:input message="tns:multi_param" name="multi_param"/>
      <wsdl:output message="tns:multi_paramResponse" name="multi_paramResponse"/>
    </wsdl:operation>
    <wsdl:operation name="non_nillable" parameterOrder="non_nillable">
      <wsdl:input message="tns:non_nillable" name="non_nillable"/>
      <wsdl:output message="tns:non_nillableResponse" name="non_nillableResponse"/>
    </wsdl:operation>
    <wsdl:operation name="python_exception" parameterOrder="python_exception">
      <wsdl:input message="tns:python_exception" name="python_exception"/>
      <wsdl:output message="tns:python_exceptionResponse" name="python_exceptionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="return_binary_data" parameterOrder="return_binary_data">
      <wsdl:input message="tns:return_binary_data" name="return_binary_data"/>
      <wsdl:output message="tns:return_binary_dataResponse" name="return_binary_dataResponse"/>
    </wsdl:operation>
    <wsdl:operation name="return_invalid_data" parameterOrder="return_invalid_data">
      <wsdl:input message="tns:return_invalid_data" name="return_invalid_data"/>
      <wsdl:output message="tns:return_invalid_dataResponse" name="return_invalid_dataResponse"/>
    </wsdl:operation>
    <wsdl:operation name="return_other_class_array" parameterOrder="return_other_class_array">
      <wsdl:input message="tns:return_other_class_array" name="return_other_class_array"/>
      <wsdl:output message="tns:return_other_class_arrayResponse" name="return_other_class_arrayResponse"/>
    </wsdl:operation>
    <wsdl:operation name="send_out_complex_header" parameterOrder="send_out_complex_header">
      <wsdl:input message="tns:send_out_complex_header" name="send_out_complex_header"/>
      <wsdl:output message="tns:send_out_complex_headerResponse" name="send_out_complex_headerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="send_out_header" parameterOrder="send_out_header">
      <wsdl:input message="tns:send_out_header" name="send_out_header"/>
      <wsdl:output message="tns:send_out_headerResponse" name="send_out_headerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="soap_exception" parameterOrder="soap_exception">
      <wsdl:input message="tns:soap_exception" name="soap_exception"/>
      <wsdl:output message="tns:soap_exceptionResponse" name="soap_exceptionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="test_empty" parameterOrder="test_empty">
      <wsdl:input message="tns:test_empty" name="test_empty"/>
      <wsdl:output message="tns:test_emptyResponse" name="test_emptyResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="complex_return">
      <soap:operation soapAction="complex_return" style="document"/>
      <wsdl:input name="complex_return">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="complex_returnResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="custom_messages">
      <soap:operation soapAction="custom_messages" style="document"/>
      <wsdl:input name="getCustomMessagesMsgIn">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomMessagesMsgOut">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="do_something">
      <soap:operation soapAction="do_something" style="document"/>
      <wsdl:input name="do_something">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="do_something_elseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="documented_exception">
      <soap:operation soapAction="documented_exception" style="document"/>
      <wsdl:input name="documented_exception">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="documented_exceptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DocumentedFault">
        <soap:fault name="DocumentedFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo_any">
      <soap:operation soapAction="echo_any" style="document"/>
      <wsdl:input name="echo_any">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_anyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_any_as_dict">
      <soap:operation soapAction="echo_any_as_dict" style="document"/>
      <wsdl:input name="echo_any_as_dict">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_any_as_dictResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_array_in_array">
      <soap:operation soapAction="echo_array_in_array" style="document"/>
      <wsdl:input name="echo_array_in_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_array_in_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_attachment">
      <soap:operation soapAction="echo_attachment" style="document"/>
      <wsdl:input name="echo_attachment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_attachmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_attachment_array">
      <soap:operation soapAction="echo_attachment_array" style="document"/>
      <wsdl:input name="echo_attachment_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_attachment_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_boolean">
      <soap:operation soapAction="echo_boolean" style="document"/>
      <wsdl:input name="echo_boolean">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_booleanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_boolean_array">
      <soap:operation soapAction="echo_boolean_array" style="document"/>
      <wsdl:input name="echo_boolean_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_boolean_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_bytearray">
      <soap:operation soapAction="echo_bytearray" style="document"/>
      <wsdl:input name="echo_bytearray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_bytearrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_class_with_self_reference">
      <soap:operation soapAction="echo_class_with_self_reference" style="document"/>
      <wsdl:input name="echo_class_with_self_reference">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_class_with_self_referenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_complex_bare">
      <soap:operation soapAction="echo_complex_bare" style="document"/>
      <wsdl:input name="echo_complex_bare">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_complex_bareResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_date">
      <soap:operation soapAction="echo_date" style="document"/>
      <wsdl:input name="echo_date">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_dateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_date_time_array">
      <soap:operation soapAction="echo_date_time_array" style="document"/>
      <wsdl:input name="echo_date_time_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_date_time_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_date_with_invalid_format">
      <soap:operation soapAction="echo_date_with_invalid_format" style="document"/>
      <wsdl:input name="echo_date_with_invalid_format">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_date_with_invalid_formatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_datetime">
      <soap:operation soapAction="echo_datetime" style="document"/>
      <wsdl:input name="echo_datetime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_datetimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_datetime_with_invalid_format">
      <soap:operation soapAction="echo_datetime_with_invalid_format" style="document"/>
      <wsdl:input name="echo_datetime_with_invalid_format">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_datetime_with_invalid_formatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_double">
      <soap:operation soapAction="echo_double" style="document"/>
      <wsdl:input name="echo_double">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_doubleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_double_array">
      <soap:operation soapAction="echo_double_array" style="document"/>
      <wsdl:input name="echo_double_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_double_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_duration">
      <soap:operation soapAction="echo_duration" style="document"/>
      <wsdl:input name="echo_duration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_durationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_enum">
      <soap:operation soapAction="echo_enum" style="document"/>
      <wsdl:input name="echo_enum">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_enumResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_extension_class">
      <soap:operation soapAction="echo_extension_class" style="document"/>
      <wsdl:input name="echo_extension_class">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_extension_classResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_float">
      <soap:operation soapAction="echo_float" style="document"/>
      <wsdl:input name="echo_float">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_floatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_float_array">
      <soap:operation soapAction="echo_float_array" style="document"/>
      <wsdl:input name="echo_float_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_float_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_in_complex_header">
      <soap:operation soapAction="echo_in_complex_header" style="document"/>
      <wsdl:input name="echo_in_complex_header">
        <soap:body use="literal"/>
        <soap:header message="tns:echo_in_complex_headerInHeaderMsg" part="InHeader" use="literal"/>
        <soap:header message="tns:echo_in_complex_headerInHeaderMsg" part="InTraceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_in_complex_headerResponse">
        <soap:body use="literal"/>
        <soap:header message="tns:echo_in_complex_headerOutHeaderMsg" part="OutHeader" use="literal"/>
        <soap:header message="tns:echo_in_complex_headerOutHeaderMsg" part="OutTraceHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_in_header">
      <soap:operation soapAction="echo_in_header" style="document"/>
      <wsdl:input name="echo_in_header">
        <soap:body use="literal"/>
        <soap:header message="tns:InHeader" part="InHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_in_headerResponse">
        <soap:body use="literal"/>
        <soap:header message="tns:OutHeader" part="OutHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_integer">
      <soap:operation soapAction="echo_integer" style="document"/>
      <wsdl:input name="echo_integer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_integerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_integer_array">
      <soap:operation soapAction="echo_integer_array" style="document"/>
      <wsdl:input name="echo_integer_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_integer_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class">
      <soap:operation soapAction="echo_nested_class" style="document"/>
      <wsdl:input name="echo_nested_class">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_nested_classResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class_array">
      <soap:operation soapAction="echo_nested_class_array" style="document"/>
      <wsdl:input name="echo_nested_class_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_nested_class_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_bare">
      <soap:operation soapAction="echo_simple_bare" style="document"/>
      <wsdl:input name="echo_simple_bare">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_simple_bareResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_boolean_array">
      <soap:operation soapAction="echo_simple_boolean_array" style="document"/>
      <wsdl:input name="echo_simple_boolean_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_simple_boolean_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class">
      <soap:operation soapAction="echo_simple_class" style="document"/>
      <wsdl:input name="echo_simple_class">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_simple_classResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class_array">
      <soap:operation soapAction="echo_simple_class_array" style="document"/>
      <wsdl:input name="echo_simple_class_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_simple_class_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_string">
      <soap:operation soapAction="echo_string" style="document"/>
      <wsdl:input name="echo_string">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_stringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_string_array">
      <soap:operation soapAction="echo_string_array" style="document"/>
      <wsdl:input name="echo_string_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_string_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_time">
      <soap:operation soapAction="echo_time" style="document"/>
      <wsdl:input name="echo_time">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_timeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_time_with_invalid_format">
      <soap:operation soapAction="echo_time_with_invalid_format" style="document"/>
      <wsdl:input name="echo_time_with_invalid_format">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echo_time_with_invalid_formatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empty_input_bare">
      <soap:operation soapAction="empty_input_bare" style="document"/>
      <wsdl:input name="empty_input_bare">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="empty_input_bareResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empty_output_bare">
      <soap:operation soapAction="empty_output_bare" style="document"/>
      <wsdl:input name="empty_output_bare">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="empty_output_bareResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="huge_number">
      <soap:operation soapAction="huge_number" style="document"/>
      <wsdl:input name="huge_number">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="huge_numberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="long_string">
      <soap:operation soapAction="long_string" style="document"/>
      <wsdl:input name="long_string">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="long_stringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multi_param">
      <soap:operation soapAction="multi_param" style="document"/>
      <wsdl:input name="multi_param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multi_paramResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="non_nillable">
      <soap:operation soapAction="non_nillable" style="document"/>
      <wsdl:input name="non_nillable">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="non_nillableResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="python_exception">
      <soap:operation soapAction="python_exception" style="document"/>
      <wsdl:input name="python_exception">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="python_exceptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_binary_data">
      <soap:operation soapAction="return_binary_data" style="document"/>
      <wsdl:input name="return_binary_data">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="return_binary_dataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_invalid_data">
      <soap:operation soapAction="return_invalid_data" style="document"/>
      <wsdl:input name="return_invalid_data">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="return_invalid_dataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_other_class_array">
      <soap:operation soapAction="return_other_class_array" style="document"/>
      <wsdl:input name="return_other_class_array">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="return_other_class_arrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send_out_complex_header">
      <soap:operation soapAction="send_out_complex_header" style="document"/>
      <wsdl:input name="send_out_complex_header">
        <soap:body use="literal"/>
        <soap:header message="tns:send_out_complex_headerInHeaderMsg" part="InHeader" use="literal"/>
        <soap:header message="tns:send_out_complex_headerInHeaderMsg" part="InTraceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="send_out_complex_headerResponse">
        <soap:body use="literal"/>
        <soap:header message="tns:send_out_complex_headerOutHeaderMsg" part="OutHeader" use="literal"/>
        <soap:header message="tns:send_out_complex_headerOutHeaderMsg" part="OutTraceHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send_out_header">
      <soap:operation soapAction="send_out_header" style="document"/>
      <wsdl:input name="send_out_header">
        <soap:body use="literal"/>
        <soap:header message="tns:InHeader" part="InHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="send_out_headerResponse">
        <soap:body use="literal"/>
        <soap:header message="tns:OutHeader" part="OutHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soap_exception">
      <soap:operation soapAction="soap_exception" style="document"/>
      <wsdl:input name="soap_exception">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soap_exceptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_empty">
      <soap:operation soapAction="test_empty" style="document"/>
      <wsdl:input name="test_empty">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="test_emptyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
