src/soaplib/test/wsdl.xml

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:senc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="soaplib.test.interop.server._service" xmlns:s12env="http://www.w3.org/2003/05/soap-envelope/" xmlns:s12enc="http://www.w3.org/2003/05/soap-encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:senv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="soaplib.test.interop.server._service" name="ValidatingApplication">
  <wsdl:types>
    <xs:schema targetNamespace="soaplib.test.interop.server._service" elementFormDefault="qualified">
      <xs:element name="echo_any" type="s0:echo_any" />
      <xs:element name="echo_anyResponse" type="s0:echo_anyResponse" />
      <xs:element name="echo_any_as_dict" type="s0:echo_any_as_dict" />
      <xs:element name="echo_any_as_dictResponse" type="s0:echo_any_as_dictResponse" />
      <xs:element name="echo_boolean" type="s0:echo_boolean" />
      <xs:element name="echo_booleanResponse" type="s0:echo_booleanResponse" />
      <xs:element name="echo_datetime" type="s0:echo_datetime" />
      <xs:element name="echo_datetimeResponse" type="s0:echo_datetimeResponse" />
      <xs:element name="echo_double" type="s0:echo_double" />
      <xs:element name="echo_doubleResponse" type="s0:echo_doubleResponse" />
      <xs:element name="echo_enum" type="s0:echo_enum" />
      <xs:element name="echo_enumResponse" type="s0:echo_enumResponse" />
      <xs:element name="echo_float" type="s0:echo_float" />
      <xs:element name="echo_floatResponse" type="s0:echo_floatResponse" />
      <xs:element name="echo_integer" type="s0:echo_integer" />
      <xs:element name="echo_integerResponse" type="s0:echo_integerResponse" />
      <xs:element name="echo_string" type="s0:echo_string" />
      <xs:element name="echo_stringResponse" type="s0:echo_stringResponse" />
      <xs:element name="booleanArray" type="s0:booleanArray" />
      <xs:element name="echo_array_in_array" type="s0:echo_array_in_array" />
      <xs:element name="booleanArrayArray" type="s0:booleanArrayArray" />
      <xs:element name="echo_array_in_arrayResponse" type="s0:echo_array_in_arrayResponse" />
      <xs:element name="echo_boolean_array" type="s0:echo_boolean_array" />
      <xs:element name="echo_boolean_arrayResponse" type="s0:echo_boolean_arrayResponse" />
      <xs:element name="dateTimeArray" type="s0:dateTimeArray" />
      <xs:element name="echo_date_time_array" type="s0:echo_date_time_array" />
      <xs:element name="echo_date_time_arrayResponse" type="s0:echo_date_time_arrayResponse" />
      <xs:element name="doubleArray" type="s0:doubleArray" />
      <xs:element name="echo_double_array" type="s0:echo_double_array" />
      <xs:element name="echo_double_arrayResponse" type="s0:echo_double_arrayResponse" />
      <xs:element name="floatArray" type="s0:floatArray" />
      <xs:element name="echo_float_array" type="s0:echo_float_array" />
      <xs:element name="echo_float_arrayResponse" type="s0:echo_float_arrayResponse" />
      <xs:element name="integerArray" type="s0:integerArray" />
      <xs:element name="echo_integer_array" type="s0:echo_integer_array" />
      <xs:element name="echo_integer_arrayResponse" type="s0:echo_integer_arrayResponse" />
      <xs:element name="stringArray" type="s0:stringArray" />
      <xs:element name="echo_string_array" type="s0:echo_string_array" />
      <xs:element name="echo_string_arrayResponse" type="s0:echo_string_arrayResponse" />
      <xs:element name="echo_attachment" type="s0:echo_attachment" />
      <xs:element name="echo_attachmentResponse" type="s0:echo_attachmentResponse" />
      <xs:element name="base64BinaryArray" type="s0:base64BinaryArray" />
      <xs:element name="echo_attachment_array" type="s0:echo_attachment_array" />
      <xs:element name="echo_attachment_arrayResponse" type="s0:echo_attachment_arrayResponse" />
      <xs:element name="SimpleClass" type="s0:SimpleClass" />
      <xs:element name="SimpleClassArray" type="s0:SimpleClassArray" />
      <xs:element name="OtherClass" type="s0:OtherClass" />
      <xs:element name="NestedClass" type="s0:NestedClass" />
      <xs:element name="NonNillableClass" type="s0:NonNillableClass" />
      <xs:element name="ExtensionClass" type="s0:ExtensionClass" />
      <xs:element name="echo_extension_class" type="s0:echo_extension_class" />
      <xs:element name="echo_extension_classResponse" type="s0:echo_extension_classResponse" />
      <xs:element name="echo_nested_class" type="s0:echo_nested_class" />
      <xs:element name="echo_nested_classResponse" type="s0:echo_nested_classResponse" />
      <xs:element name="NestedClassArray" type="s0:NestedClassArray" />
      <xs:element name="echo_nested_class_array" type="s0:echo_nested_class_array" />
      <xs:element name="echo_nested_class_arrayResponse" type="s0:echo_nested_class_arrayResponse" />
      <xs:element name="echo_simple_class" type="s0:echo_simple_class" />
      <xs:element name="echo_simple_classResponse" type="s0:echo_simple_classResponse" />
      <xs:element name="echo_simple_class_array" type="s0:echo_simple_class_array" />
      <xs:element name="echo_simple_class_arrayResponse" type="s0:echo_simple_class_arrayResponse" />
      <xs:element name="do_something_else" type="s0:do_something_else" />
      <xs:element name="do_something_elseResponse" type="s0:do_something_elseResponse" />
      <xs:element name="huge_number" type="s0:huge_number" />
      <xs:element name="huge_numberResponse" type="s0:huge_numberResponse" />
      <xs:element name="long_string" type="s0:long_string" />
      <xs:element name="long_stringResponse" type="s0:long_stringResponse" />
      <xs:element name="multi_param" type="s0:multi_param" />
      <xs:element name="multi_paramResponse" type="s0:multi_paramResponse" />
      <xs:element name="non_nillable" type="s0:non_nillable" />
      <xs:element name="non_nillableResponse" type="s0:non_nillableResponse" />
      <xs:element name="return_only" type="s0:return_only" />
      <xs:element name="return_onlyResponse" type="s0:return_onlyResponse" />
      <xs:element name="test_empty" type="s0:test_empty" />
      <xs:element name="test_emptyResponse" type="s0:test_emptyResponse" />
      <xs:element name="InHeader" type="s0:InHeader" />
      <xs:element name="OutHeader" type="s0:OutHeader" />
      <xs:element name="echo_in_header" type="s0:echo_in_header" />
      <xs:element name="echo_in_headerResponse" type="s0:echo_in_headerResponse" />
      <xs:element name="send_out_header" type="s0:send_out_header" />
      <xs:element name="send_out_headerResponse" type="s0:send_out_headerResponse" />
      <xs:complexType name="echo_any">
        <xs:sequence>
          <xs:element name="xml" minOccurs="0" type="xs:anyType" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_anyResponse">
        <xs:sequence>
          <xs:element name="echo_anyResult" minOccurs="0" type="xs:anyType" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_any_as_dict">
        <xs:sequence>
          <xs:element name="xml_as_dict" minOccurs="0" type="xs:anyType" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_any_as_dictResponse">
        <xs:sequence>
          <xs:element name="echo_any_as_dictResult" minOccurs="0" type="xs:anyType" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_boolean">
        <xs:sequence>
          <xs:element name="b" minOccurs="0" type="xs:boolean" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_booleanResponse">
        <xs:sequence>
          <xs:element name="echo_booleanResult" minOccurs="0" type="xs:boolean" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_datetime">
        <xs:sequence>
          <xs:element name="dt" minOccurs="0" type="xs:dateTime" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_datetimeResponse">
        <xs:sequence>
          <xs:element name="echo_datetimeResult" minOccurs="0" type="xs:dateTime" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_double">
        <xs:sequence>
          <xs:element name="f" minOccurs="0" type="xs:double" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_doubleResponse">
        <xs:sequence>
          <xs:element name="echo_doubleResult" minOccurs="0" type="xs:double" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DaysOfWeekEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Monday" />
          <xs:enumeration value="Tuesday" />
          <xs:enumeration value="Wednesday" />
          <xs:enumeration value="Friday" />
          <xs:enumeration value="Saturday" />
          <xs:enumeration value="Sunday" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="echo_enum">
        <xs:sequence>
          <xs:element name="day" minOccurs="0" type="s0:DaysOfWeekEnum" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_enumResponse">
        <xs:sequence>
          <xs:element name="echo_enumResult" minOccurs="0" type="s0:DaysOfWeekEnum" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_float">
        <xs:sequence>
          <xs:element name="f" minOccurs="0" type="xs:float" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_floatResponse">
        <xs:sequence>
          <xs:element name="echo_floatResult" minOccurs="0" type="xs:float" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_integer">
        <xs:sequence>
          <xs:element name="i" minOccurs="0" type="xs:integer" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_integerResponse">
        <xs:sequence>
          <xs:element name="echo_integerResult" minOccurs="0" type="xs:integer" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_string">
        <xs:sequence>
          <xs:element name="s" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_stringResponse">
        <xs:sequence>
          <xs:element name="echo_stringResult" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="booleanArray">
        <xs:sequence>
          <xs:element name="boolean" type="xs:boolean" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_array_in_array">
        <xs:sequence>
          <xs:element name="baa" minOccurs="0" type="s0:booleanArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="booleanArrayArray">
        <xs:sequence>
          <xs:element name="booleanArray" type="s0:booleanArray" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_array_in_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_array_in_arrayResult" minOccurs="0" type="s0:booleanArrayArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_boolean_array">
        <xs:sequence>
          <xs:element name="ba" minOccurs="0" type="s0:booleanArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_boolean_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_boolean_arrayResult" minOccurs="0" type="s0:booleanArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dateTimeArray">
        <xs:sequence>
          <xs:element name="dateTime" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_date_time_array">
        <xs:sequence>
          <xs:element name="dta" minOccurs="0" type="s0:dateTimeArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_date_time_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_date_time_arrayResult" minOccurs="0" type="s0:dateTimeArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doubleArray">
        <xs:sequence>
          <xs:element name="double" type="xs:double" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_double_array">
        <xs:sequence>
          <xs:element name="da" minOccurs="0" type="s0:doubleArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_double_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_double_arrayResult" minOccurs="0" type="s0:doubleArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="floatArray">
        <xs:sequence>
          <xs:element name="float" type="xs:float" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_float_array">
        <xs:sequence>
          <xs:element name="fa" minOccurs="0" type="s0:floatArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_float_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_float_arrayResult" minOccurs="0" type="s0:floatArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="integerArray">
        <xs:sequence>
          <xs:element name="integer" type="xs:integer" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_integer_array">
        <xs:sequence>
          <xs:element name="ia" minOccurs="0" type="s0:integerArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_integer_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_integer_arrayResult" minOccurs="0" type="s0:integerArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stringArray">
        <xs:sequence>
          <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_string_array">
        <xs:sequence>
          <xs:element name="sa" minOccurs="0" type="s0:stringArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_string_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_string_arrayResult" minOccurs="0" type="s0:stringArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_attachment">
        <xs:sequence>
          <xs:element name="a" minOccurs="0" type="xs:base64Binary" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_attachmentResponse">
        <xs:sequence>
          <xs:element name="echo_attachmentResult" minOccurs="0" type="xs:base64Binary" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="base64BinaryArray">
        <xs:sequence>
          <xs:element name="base64Binary" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_attachment_array">
        <xs:sequence>
          <xs:element name="aa" minOccurs="0" type="s0:base64BinaryArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_attachment_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_attachment_arrayResult" minOccurs="0" type="s0:base64BinaryArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SimpleClass">
        <xs:sequence>
          <xs:element name="i" minOccurs="0" type="xs:integer" nillable="true" />
          <xs:element name="s" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SimpleClassArray">
        <xs:sequence>
          <xs:element name="SimpleClass" type="s0:SimpleClass" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OtherClass">
        <xs:sequence>
          <xs:element name="b" minOccurs="0" type="xs:boolean" nillable="true" />
          <xs:element name="d" minOccurs="0" type="xs:double" nillable="true" />
          <xs:element name="dt" minOccurs="0" type="xs:dateTime" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NestedClass">
        <xs:sequence>
          <xs:element name="f" minOccurs="0" type="xs:float" nillable="true" />
          <xs:element name="simple" minOccurs="0" type="s0:SimpleClassArray" nillable="true" />
          <xs:element name="i" minOccurs="0" type="xs:integer" nillable="true" />
          <xs:element name="s" minOccurs="0" type="xs:string" nillable="true" />
          <xs:element name="other" minOccurs="0" type="s0:OtherClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NonNillableClass_sType">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="NonNillableClass">
        <xs:sequence>
          <xs:element name="i" minOccurs="0" type="xs:integer" nillable="false" />
          <xs:element name="s" minOccurs="0" type="s0:NonNillableClass_sType" nillable="false" />
          <xs:element name="dt" type="xs:dateTime" nillable="false" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExtensionClass">
        <xs:complexContent>
          <xs:extension base="s0:NestedClass">
            <xs:sequence>
              <xs:element name="l" minOccurs="0" type="xs:dateTime" nillable="true" />
              <xs:element name="q" minOccurs="0" type="xs:integer" nillable="true" />
              <xs:element name="p" minOccurs="0" type="s0:NonNillableClass" nillable="true" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="echo_extension_class">
        <xs:sequence>
          <xs:element name="nc" minOccurs="0" type="s0:ExtensionClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_extension_classResponse">
        <xs:sequence>
          <xs:element name="echo_extension_classResult" minOccurs="0" type="s0:ExtensionClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_nested_class">
        <xs:sequence>
          <xs:element name="nc" minOccurs="0" type="s0:NestedClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_nested_classResponse">
        <xs:sequence>
          <xs:element name="echo_nested_classResult" minOccurs="0" type="s0:NestedClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NestedClassArray">
        <xs:sequence>
          <xs:element name="NestedClass" type="s0:NestedClass" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_nested_class_array">
        <xs:sequence>
          <xs:element name="nca" minOccurs="0" type="s0:NestedClassArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_nested_class_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_nested_class_arrayResult" minOccurs="0" type="s0:NestedClassArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_simple_class">
        <xs:sequence>
          <xs:element name="sc" minOccurs="0" type="s0:SimpleClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_simple_classResponse">
        <xs:sequence>
          <xs:element name="echo_simple_classResult" minOccurs="0" type="s0:SimpleClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_simple_class_array">
        <xs:sequence>
          <xs:element name="sca" minOccurs="0" type="s0:SimpleClassArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_simple_class_arrayResponse">
        <xs:sequence>
          <xs:element name="echo_simple_class_arrayResult" minOccurs="0" type="s0:SimpleClassArray" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="do_something_else">
        <xs:sequence>
          <xs:element name="s" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="do_something_elseResponse">
        <xs:sequence>
          <xs:element name="do_something_elseResult" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="huge_number">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="huge_numberResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="long_string">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="long_stringResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="multi_param">
        <xs:sequence>
          <xs:element name="s" minOccurs="0" type="xs:string" nillable="true" />
          <xs:element name="i" minOccurs="0" type="xs:integer" nillable="true" />
          <xs:element name="dt" minOccurs="0" type="xs:dateTime" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="multi_paramResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="non_nillable">
        <xs:sequence>
          <xs:element name="n" minOccurs="0" type="s0:NonNillableClass" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="non_nillableResponse">
        <xs:sequence>
          <xs:element name="non_nillableResult" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="return_only">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="return_onlyResponse">
        <xs:sequence>
          <xs:element name="return_onlyResult" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="test_empty">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="test_emptyResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="InHeader">
        <xs:sequence>
          <xs:element name="i" minOccurs="0" type="xs:integer" nillable="true" />
          <xs:element name="s" minOccurs="0" type="xs:string" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutHeader">
        <xs:sequence>
          <xs:element name="dt" minOccurs="0" type="xs:dateTime" nillable="true" />
          <xs:element name="f" minOccurs="0" type="xs:float" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="echo_in_header">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="echo_in_headerResponse">
        <xs:sequence>
          <xs:element name="echo_in_headerResult" minOccurs="0" type="s0:InHeader" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="send_out_header">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="send_out_headerResponse">
        <xs:sequence>
          <xs:element name="send_out_headerResult" minOccurs="0" type="s0:OutHeader" nillable="true" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="echo_any">
    <wsdl:part name="echo_any" element="s0:echo_any" />
  </wsdl:message>
  <wsdl:message name="echo_anyResponse">
    <wsdl:part name="echo_anyResponse" element="s0:echo_anyResponse" />
  </wsdl:message>
  <wsdl:message name="echo_any_as_dict">
    <wsdl:part name="echo_any_as_dict" element="s0:echo_any_as_dict" />
  </wsdl:message>
  <wsdl:message name="echo_any_as_dictResponse">
    <wsdl:part name="echo_any_as_dictResponse" element="s0:echo_any_as_dictResponse" />
  </wsdl:message>
  <wsdl:message name="echo_boolean">
    <wsdl:part name="echo_boolean" element="s0:echo_boolean" />
  </wsdl:message>
  <wsdl:message name="echo_booleanResponse">
    <wsdl:part name="echo_booleanResponse" element="s0:echo_booleanResponse" />
  </wsdl:message>
  <wsdl:message name="echo_datetime">
    <wsdl:part name="echo_datetime" element="s0:echo_datetime" />
  </wsdl:message>
  <wsdl:message name="echo_datetimeResponse">
    <wsdl:part name="echo_datetimeResponse" element="s0:echo_datetimeResponse" />
  </wsdl:message>
  <wsdl:message name="echo_double">
    <wsdl:part name="echo_double" element="s0:echo_double" />
  </wsdl:message>
  <wsdl:message name="echo_doubleResponse">
    <wsdl:part name="echo_doubleResponse" element="s0:echo_doubleResponse" />
  </wsdl:message>
  <wsdl:message name="echo_enum">
    <wsdl:part name="echo_enum" element="s0:echo_enum" />
  </wsdl:message>
  <wsdl:message name="echo_enumResponse">
    <wsdl:part name="echo_enumResponse" element="s0:echo_enumResponse" />
  </wsdl:message>
  <wsdl:message name="echo_float">
    <wsdl:part name="echo_float" element="s0:echo_float" />
  </wsdl:message>
  <wsdl:message name="echo_floatResponse">
    <wsdl:part name="echo_floatResponse" element="s0:echo_floatResponse" />
  </wsdl:message>
  <wsdl:message name="echo_integer">
    <wsdl:part name="echo_integer" element="s0:echo_integer" />
  </wsdl:message>
  <wsdl:message name="echo_integerResponse">
    <wsdl:part name="echo_integerResponse" element="s0:echo_integerResponse" />
  </wsdl:message>
  <wsdl:message name="echo_string">
    <wsdl:part name="echo_string" element="s0:echo_string" />
  </wsdl:message>
  <wsdl:message name="echo_stringResponse">
    <wsdl:part name="echo_stringResponse" element="s0:echo_stringResponse" />
  </wsdl:message>
  <wsdl:message name="echo_array_in_array">
    <wsdl:part name="echo_array_in_array" element="s0:echo_array_in_array" />
  </wsdl:message>
  <wsdl:message name="echo_array_in_arrayResponse">
    <wsdl:part name="echo_array_in_arrayResponse" element="s0:echo_array_in_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_boolean_array">
    <wsdl:part name="echo_boolean_array" element="s0:echo_boolean_array" />
  </wsdl:message>
  <wsdl:message name="echo_boolean_arrayResponse">
    <wsdl:part name="echo_boolean_arrayResponse" element="s0:echo_boolean_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_date_time_array">
    <wsdl:part name="echo_date_time_array" element="s0:echo_date_time_array" />
  </wsdl:message>
  <wsdl:message name="echo_date_time_arrayResponse">
    <wsdl:part name="echo_date_time_arrayResponse" element="s0:echo_date_time_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_double_array">
    <wsdl:part name="echo_double_array" element="s0:echo_double_array" />
  </wsdl:message>
  <wsdl:message name="echo_double_arrayResponse">
    <wsdl:part name="echo_double_arrayResponse" element="s0:echo_double_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_float_array">
    <wsdl:part name="echo_float_array" element="s0:echo_float_array" />
  </wsdl:message>
  <wsdl:message name="echo_float_arrayResponse">
    <wsdl:part name="echo_float_arrayResponse" element="s0:echo_float_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_integer_array">
    <wsdl:part name="echo_integer_array" element="s0:echo_integer_array" />
  </wsdl:message>
  <wsdl:message name="echo_integer_arrayResponse">
    <wsdl:part name="echo_integer_arrayResponse" element="s0:echo_integer_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_string_array">
    <wsdl:part name="echo_string_array" element="s0:echo_string_array" />
  </wsdl:message>
  <wsdl:message name="echo_string_arrayResponse">
    <wsdl:part name="echo_string_arrayResponse" element="s0:echo_string_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_attachment">
    <wsdl:part name="echo_attachment" element="s0:echo_attachment" />
  </wsdl:message>
  <wsdl:message name="echo_attachmentResponse">
    <wsdl:part name="echo_attachmentResponse" element="s0:echo_attachmentResponse" />
  </wsdl:message>
  <wsdl:message name="echo_attachment_array">
    <wsdl:part name="echo_attachment_array" element="s0:echo_attachment_array" />
  </wsdl:message>
  <wsdl:message name="echo_attachment_arrayResponse">
    <wsdl:part name="echo_attachment_arrayResponse" element="s0:echo_attachment_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_extension_class">
    <wsdl:part name="echo_extension_class" element="s0:echo_extension_class" />
  </wsdl:message>
  <wsdl:message name="echo_extension_classResponse">
    <wsdl:part name="echo_extension_classResponse" element="s0:echo_extension_classResponse" />
  </wsdl:message>
  <wsdl:message name="echo_nested_class">
    <wsdl:part name="echo_nested_class" element="s0:echo_nested_class" />
  </wsdl:message>
  <wsdl:message name="echo_nested_classResponse">
    <wsdl:part name="echo_nested_classResponse" element="s0:echo_nested_classResponse" />
  </wsdl:message>
  <wsdl:message name="echo_nested_class_array">
    <wsdl:part name="echo_nested_class_array" element="s0:echo_nested_class_array" />
  </wsdl:message>
  <wsdl:message name="echo_nested_class_arrayResponse">
    <wsdl:part name="echo_nested_class_arrayResponse" element="s0:echo_nested_class_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="echo_simple_class">
    <wsdl:part name="echo_simple_class" element="s0:echo_simple_class" />
  </wsdl:message>
  <wsdl:message name="echo_simple_classResponse">
    <wsdl:part name="echo_simple_classResponse" element="s0:echo_simple_classResponse" />
  </wsdl:message>
  <wsdl:message name="echo_simple_class_array">
    <wsdl:part name="echo_simple_class_array" element="s0:echo_simple_class_array" />
  </wsdl:message>
  <wsdl:message name="echo_simple_class_arrayResponse">
    <wsdl:part name="echo_simple_class_arrayResponse" element="s0:echo_simple_class_arrayResponse" />
  </wsdl:message>
  <wsdl:message name="do_something_else">
    <wsdl:part name="do_something_else" element="s0:do_something_else" />
  </wsdl:message>
  <wsdl:message name="do_something_elseResponse">
    <wsdl:part name="do_something_elseResponse" element="s0:do_something_elseResponse" />
  </wsdl:message>
  <wsdl:message name="huge_number">
    <wsdl:part name="huge_number" element="s0:huge_number" />
  </wsdl:message>
  <wsdl:message name="huge_numberResponse">
    <wsdl:part name="huge_numberResponse" element="s0:huge_numberResponse" />
  </wsdl:message>
  <wsdl:message name="long_string">
    <wsdl:part name="long_string" element="s0:long_string" />
  </wsdl:message>
  <wsdl:message name="long_stringResponse">
    <wsdl:part name="long_stringResponse" element="s0:long_stringResponse" />
  </wsdl:message>
  <wsdl:message name="multi_param">
    <wsdl:part name="multi_param" element="s0:multi_param" />
  </wsdl:message>
  <wsdl:message name="multi_paramResponse">
    <wsdl:part name="multi_paramResponse" element="s0:multi_paramResponse" />
  </wsdl:message>
  <wsdl:message name="non_nillable">
    <wsdl:part name="non_nillable" element="s0:non_nillable" />
  </wsdl:message>
  <wsdl:message name="non_nillableResponse">
    <wsdl:part name="non_nillableResponse" element="s0:non_nillableResponse" />
  </wsdl:message>
  <wsdl:message name="return_only">
    <wsdl:part name="return_only" element="s0:return_only" />
  </wsdl:message>
  <wsdl:message name="return_onlyResponse">
    <wsdl:part name="return_onlyResponse" element="s0:return_onlyResponse" />
  </wsdl:message>
  <wsdl:message name="test_empty">
    <wsdl:part name="test_empty" element="s0:test_empty" />
  </wsdl:message>
  <wsdl:message name="test_emptyResponse">
    <wsdl:part name="test_emptyResponse" element="s0:test_emptyResponse" />
  </wsdl:message>
  <wsdl:message name="InHeader">
    <wsdl:part name="InHeader" element="s0:InHeader" />
  </wsdl:message>
  <wsdl:message name="OutHeader">
    <wsdl:part name="OutHeader" element="s0:OutHeader" />
  </wsdl:message>
  <wsdl:message name="echo_in_header">
    <wsdl:part name="echo_in_header" element="s0:echo_in_header" />
  </wsdl:message>
  <wsdl:message name="echo_in_headerResponse">
    <wsdl:part name="echo_in_headerResponse" element="s0:echo_in_headerResponse" />
  </wsdl:message>
  <wsdl:message name="send_out_header">
    <wsdl:part name="send_out_header" element="s0:send_out_header" />
  </wsdl:message>
  <wsdl:message name="send_out_headerResponse">
    <wsdl:part name="send_out_headerResponse" element="s0:send_out_headerResponse" />
  </wsdl:message>
  <wsdl:service name="ValidatingApplication">
    <wsdl:port name="ValidatingApplication" binding="s0:ValidatingApplication">
      <soap:address location="http://localhost:9753/?wsdl" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:portType name="ValidatingApplication">
    <wsdl:operation name="echo_any" parameterOrder="echo_any">
      <wsdl:input name="echo_any" message="s0:echo_any" />
      <wsdl:output name="echo_anyResponse" message="s0:echo_anyResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_any_as_dict" parameterOrder="echo_any_as_dict">
      <wsdl:input name="echo_any_as_dict" message="s0:echo_any_as_dict" />
      <wsdl:output name="echo_any_as_dictResponse" message="s0:echo_any_as_dictResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_boolean" parameterOrder="echo_boolean">
      <wsdl:input name="echo_boolean" message="s0:echo_boolean" />
      <wsdl:output name="echo_booleanResponse" message="s0:echo_booleanResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_datetime" parameterOrder="echo_datetime">
      <wsdl:input name="echo_datetime" message="s0:echo_datetime" />
      <wsdl:output name="echo_datetimeResponse" message="s0:echo_datetimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_double" parameterOrder="echo_double">
      <wsdl:input name="echo_double" message="s0:echo_double" />
      <wsdl:output name="echo_doubleResponse" message="s0:echo_doubleResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_enum" parameterOrder="echo_enum">
      <wsdl:input name="echo_enum" message="s0:echo_enum" />
      <wsdl:output name="echo_enumResponse" message="s0:echo_enumResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_float" parameterOrder="echo_float">
      <wsdl:input name="echo_float" message="s0:echo_float" />
      <wsdl:output name="echo_floatResponse" message="s0:echo_floatResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_integer" parameterOrder="echo_integer">
      <wsdl:input name="echo_integer" message="s0:echo_integer" />
      <wsdl:output name="echo_integerResponse" message="s0:echo_integerResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_string" parameterOrder="echo_string">
      <wsdl:input name="echo_string" message="s0:echo_string" />
      <wsdl:output name="echo_stringResponse" message="s0:echo_stringResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_array_in_array" parameterOrder="echo_array_in_array">
      <wsdl:input name="echo_array_in_array" message="s0:echo_array_in_array" />
      <wsdl:output name="echo_array_in_arrayResponse" message="s0:echo_array_in_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_boolean_array" parameterOrder="echo_boolean_array">
      <wsdl:input name="echo_boolean_array" message="s0:echo_boolean_array" />
      <wsdl:output name="echo_boolean_arrayResponse" message="s0:echo_boolean_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_date_time_array" parameterOrder="echo_date_time_array">
      <wsdl:input name="echo_date_time_array" message="s0:echo_date_time_array" />
      <wsdl:output name="echo_date_time_arrayResponse" message="s0:echo_date_time_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_double_array" parameterOrder="echo_double_array">
      <wsdl:input name="echo_double_array" message="s0:echo_double_array" />
      <wsdl:output name="echo_double_arrayResponse" message="s0:echo_double_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_float_array" parameterOrder="echo_float_array">
      <wsdl:input name="echo_float_array" message="s0:echo_float_array" />
      <wsdl:output name="echo_float_arrayResponse" message="s0:echo_float_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_integer_array" parameterOrder="echo_integer_array">
      <wsdl:input name="echo_integer_array" message="s0:echo_integer_array" />
      <wsdl:output name="echo_integer_arrayResponse" message="s0:echo_integer_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_string_array" parameterOrder="echo_string_array">
      <wsdl:input name="echo_string_array" message="s0:echo_string_array" />
      <wsdl:output name="echo_string_arrayResponse" message="s0:echo_string_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_attachment" parameterOrder="echo_attachment">
      <wsdl:input name="echo_attachment" message="s0:echo_attachment" />
      <wsdl:output name="echo_attachmentResponse" message="s0:echo_attachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_attachment_array" parameterOrder="echo_attachment_array">
      <wsdl:input name="echo_attachment_array" message="s0:echo_attachment_array" />
      <wsdl:output name="echo_attachment_arrayResponse" message="s0:echo_attachment_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_extension_class" parameterOrder="echo_extension_class">
      <wsdl:input name="echo_extension_class" message="s0:echo_extension_class" />
      <wsdl:output name="echo_extension_classResponse" message="s0:echo_extension_classResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class" parameterOrder="echo_nested_class">
      <wsdl:input name="echo_nested_class" message="s0:echo_nested_class" />
      <wsdl:output name="echo_nested_classResponse" message="s0:echo_nested_classResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class_array" parameterOrder="echo_nested_class_array">
      <wsdl:input name="echo_nested_class_array" message="s0:echo_nested_class_array" />
      <wsdl:output name="echo_nested_class_arrayResponse" message="s0:echo_nested_class_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class" parameterOrder="echo_simple_class">
      <wsdl:input name="echo_simple_class" message="s0:echo_simple_class" />
      <wsdl:output name="echo_simple_classResponse" message="s0:echo_simple_classResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class_array" parameterOrder="echo_simple_class_array">
      <wsdl:input name="echo_simple_class_array" message="s0:echo_simple_class_array" />
      <wsdl:output name="echo_simple_class_arrayResponse" message="s0:echo_simple_class_arrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="do_something_else" parameterOrder="do_something_else">
      <wsdl:input name="do_something_else" message="s0:do_something_else" />
      <wsdl:output name="do_something_elseResponse" message="s0:do_something_elseResponse" />
    </wsdl:operation>
    <wsdl:operation name="huge_number" parameterOrder="huge_number">
      <wsdl:input name="huge_number" message="s0:huge_number" />
      <wsdl:output name="huge_numberResponse" message="s0:huge_numberResponse" />
    </wsdl:operation>
    <wsdl:operation name="long_string" parameterOrder="long_string">
      <wsdl:input name="long_string" message="s0:long_string" />
      <wsdl:output name="long_stringResponse" message="s0:long_stringResponse" />
    </wsdl:operation>
    <wsdl:operation name="multi_param" parameterOrder="multi_param">
      <wsdl:input name="multi_param" message="s0:multi_param" />
      <wsdl:output name="multi_paramResponse" message="s0:multi_paramResponse" />
    </wsdl:operation>
    <wsdl:operation name="non_nillable" parameterOrder="non_nillable">
      <wsdl:input name="non_nillable" message="s0:non_nillable" />
      <wsdl:output name="non_nillableResponse" message="s0:non_nillableResponse" />
    </wsdl:operation>
    <wsdl:operation name="return_only" parameterOrder="return_only">
      <wsdl:input name="return_only" message="s0:return_only" />
      <wsdl:output name="return_onlyResponse" message="s0:return_onlyResponse" />
    </wsdl:operation>
    <wsdl:operation name="test_empty" parameterOrder="test_empty">
      <wsdl:input name="test_empty" message="s0:test_empty" />
      <wsdl:output name="test_emptyResponse" message="s0:test_emptyResponse" />
    </wsdl:operation>
    <wsdl:operation name="echo_in_header" parameterOrder="echo_in_header">
      <wsdl:input name="echo_in_header" message="s0:echo_in_header" />
      <wsdl:output name="echo_in_headerResponse" message="s0:echo_in_headerResponse" />
    </wsdl:operation>
    <wsdl:operation name="send_out_header" parameterOrder="send_out_header">
      <wsdl:input name="send_out_header" message="s0:send_out_header" />
      <wsdl:output name="send_out_headerResponse" message="s0:send_out_headerResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidatingApplication" type="s0:ValidatingApplication">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echo_any">
      <soap:operation soapAction="echo_any" style="document" />
      <wsdl:input name="echo_any">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_anyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_any_as_dict">
      <soap:operation soapAction="echo_any_as_dict" style="document" />
      <wsdl:input name="echo_any_as_dict">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_any_as_dictResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_boolean">
      <soap:operation soapAction="echo_boolean" style="document" />
      <wsdl:input name="echo_boolean">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_booleanResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_datetime">
      <soap:operation soapAction="echo_datetime" style="document" />
      <wsdl:input name="echo_datetime">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_datetimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_double">
      <soap:operation soapAction="echo_double" style="document" />
      <wsdl:input name="echo_double">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_doubleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_enum">
      <soap:operation soapAction="echo_enum" style="document" />
      <wsdl:input name="echo_enum">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_enumResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_float">
      <soap:operation soapAction="echo_float" style="document" />
      <wsdl:input name="echo_float">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_floatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_integer">
      <soap:operation soapAction="echo_integer" style="document" />
      <wsdl:input name="echo_integer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_integerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_string">
      <soap:operation soapAction="echo_string" style="document" />
      <wsdl:input name="echo_string">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_stringResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_array_in_array">
      <soap:operation soapAction="echo_array_in_array" style="document" />
      <wsdl:input name="echo_array_in_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_array_in_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_boolean_array">
      <soap:operation soapAction="echo_boolean_array" style="document" />
      <wsdl:input name="echo_boolean_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_boolean_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_date_time_array">
      <soap:operation soapAction="echo_date_time_array" style="document" />
      <wsdl:input name="echo_date_time_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_date_time_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_double_array">
      <soap:operation soapAction="echo_double_array" style="document" />
      <wsdl:input name="echo_double_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_double_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_float_array">
      <soap:operation soapAction="echo_float_array" style="document" />
      <wsdl:input name="echo_float_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_float_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_integer_array">
      <soap:operation soapAction="echo_integer_array" style="document" />
      <wsdl:input name="echo_integer_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_integer_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_string_array">
      <soap:operation soapAction="echo_string_array" style="document" />
      <wsdl:input name="echo_string_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_string_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_attachment">
      <soap:operation soapAction="echo_attachment" style="document" />
      <wsdl:input name="echo_attachment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_attachmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_attachment_array">
      <soap:operation soapAction="echo_attachment_array" style="document" />
      <wsdl:input name="echo_attachment_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_attachment_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_extension_class">
      <soap:operation soapAction="echo_extension_class" style="document" />
      <wsdl:input name="echo_extension_class">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_extension_classResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class">
      <soap:operation soapAction="echo_nested_class" style="document" />
      <wsdl:input name="echo_nested_class">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_nested_classResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_nested_class_array">
      <soap:operation soapAction="echo_nested_class_array" style="document" />
      <wsdl:input name="echo_nested_class_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_nested_class_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class">
      <soap:operation soapAction="echo_simple_class" style="document" />
      <wsdl:input name="echo_simple_class">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_simple_classResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_simple_class_array">
      <soap:operation soapAction="echo_simple_class_array" style="document" />
      <wsdl:input name="echo_simple_class_array">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echo_simple_class_arrayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="do_something_else">
      <soap:operation soapAction="do_something" style="document" />
      <wsdl:input name="do_something_else">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="do_something_elseResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="huge_number">
      <soap:operation soapAction="huge_number" style="document" />
      <wsdl:input name="huge_number">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="huge_numberResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="long_string">
      <soap:operation soapAction="long_string" style="document" />
      <wsdl:input name="long_string">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="long_stringResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multi_param">
      <soap:operation soapAction="multi_param" style="document" />
      <wsdl:input name="multi_param">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multi_paramResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="non_nillable">
      <soap:operation soapAction="non_nillable" style="document" />
      <wsdl:input name="non_nillable">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="non_nillableResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_only">
      <soap:operation soapAction="return_only" style="document" />
      <wsdl:input name="return_only">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="return_onlyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_empty">
      <soap:operation soapAction="test_empty" style="document" />
      <wsdl:input name="test_empty">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="test_emptyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo_in_header">
      <soap:operation soapAction="echo_in_header" style="document" />
      <wsdl:input name="echo_in_header">
        <soap:body use="literal" />
        <soap:header use="literal" message="s0:InHeader" part="InHeader" />
      </wsdl:input>
      <wsdl:output name="echo_in_headerResponse">
        <soap:body use="literal" />
        <soap:header use="literal" message="s0:InHeader" part="InHeader" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send_out_header">
      <soap:operation soapAction="send_out_header" style="document" />
      <wsdl:input name="send_out_header">
        <soap:body use="literal" />
        <soap:header use="literal" message="s0:InHeader" part="InHeader" />
      </wsdl:input>
      <wsdl:output name="send_out_headerResponse">
        <soap:body use="literal" />
        <soap:header use="literal" message="s0:InHeader" part="InHeader" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
